## Intro

> previous results and methods at 
* https://trpa-agency.github.io/travel_demand_model/base_2018.html
* TravelDemandModel\2018\scripts
> Metadata at 
* TravelDemandModel\2022\metadata\TDM_DataEngineering_Methods.docx

> Files 
* TravelDemandModel\2022\scripts\Lookup_Lists
* TravelDemandModel\2022\data\raw_data
* TravelDemandModel\2022\data\processed_data
* TravelDemandModel\2022\scripts\Workspace.gdb

> Setup

In [5]:
# import packages
import pandas as pd
import pathlib
import os
import arcpy
from utils import *
import numpy as np
import pickle

# pandas options
pd.options.mode.copy_on_write = True
pd.options.mode.chained_assignment = None
pd.options.display.max_columns = 999
pd.options.display.max_rows    = 999

# current working directory
local_path = pathlib.Path().absolute()
# set data path as a subfolder of the current working directory TravelDemandModel\2022\
data_dir = local_path.parents[0] / 'data/raw_data'
# folder to save processed data
out_dir  = local_path.parents[0] / 'data/processed_data'
# workspace gdb for stuff that doesnt work in memory
gdb = os.path.join(local_path,'Workspace.gdb')

# set environement workspace to in memory 
arcpy.env.workspace = 'memory'
# # clear memory workspace
# arcpy.management.Delete('memory')

# overwrite true
arcpy.env.overwriteOutput = True
# Set spatial reference to NAD 1983 UTM Zone 10N
sr = arcpy.SpatialReference(26910)

# schema for the final output
final_schema = ['APN', 'Residential_Units', 'TouristAccommodation_Units', 'CommercialFloorArea_SqFt',
                'RoomsRented_PerDay', 'VHR_Occupancy_Rate','TAU_Occupancy_Rate', 
                'PrimaryResidence_Rate', 'SecondaryResidence_Rate',
                'HighIncome_Rate',	'MediumIncome_Rate', 'LowIncome_Rate', 'PersonsPerUnit',
                'TAU_TYPE', 'VHR', 'BLOCK_GROUP', 'TAZ', 'OCCUPANCY_ZONE', 
                'JURISDICTION', 'COUNTY', 'OWNERSHIP_TYPE','EXISTING_LANDUSE', 'WITHIN_TRPA_BNDY', 
                'PARCEL_ACRES', 'PARCEL_SQFT', 'SHAPE']

# Pickle variables
# part 1 - spatial join categories, occupancy rates, and parcels
parcel_pickle_part1    = data_dir / 'parcel_pickle1.pkl'
# part 2 - known occupancy rates applied to the parcel and spatial interpolation of occupancy rates
parcel_pickle_part2    = data_dir / 'parcel_pickle2.pkl'
# part 3 - fill in missing occupancy rates with spatial interpolation
parcel_pickle_part3    = data_dir / 'parcel_pickle3.pkl'
# part 4 - attribute join with socioeconmic data
parcel_pickle_part4    = data_dir / 'parcel_pickle4.pkl'

# pickle for occupancry rates
occupancy_rates_pickle = data_dir / 'occupancy_rates.pkl'
# campground pickles
campground_pickle      = data_dir / 'campground.pkl'
# school pickle
school_pickle          = data_dir / 'school.pkl'
# visitor pickle
visitor_pickle         = data_dir / 'visitor.pkl'
# socioeconmic pickle
socioeconomic_pickle   = data_dir / 'socioeconomic.pkl'
# employment pickle
employment_pickle      = data_dir / 'employment.pkl'
# summary pickle
summary_pickle         = data_dir / 'summary.pkl'

> Future Utils

In [6]:
# function to do a spatial join and
# map values from the source to the target
def spatial_join_map(target, source, join_field,  map_field, target_field):
    # spatial join
    arcpy.SpatialJoin_analysis(target, source, 'memory\\temp', 
                               'JOIN_ONE_TO_ONE', 'KEEP_ALL','HAVE_THEIR_CENTER_IN')
    # get result as a spatial dataframe
    join = pd.DataFrame.spatial.from_featureclass('memory\\temp')
    join.info()
    # map values
    target[target_field] = target[join_field].map(dict(zip(join[join_field], join[map_field])))
    return target

# check for duplicates
def check_dupes(df, col):
    df['is_duplicate'] = df.duplicated(subset=col, keep=False)
    df.is_duplicate.value_counts()
    df.loc[df['is_duplicate'] == True]
    df = df.drop_duplicates(subset=col, keep='first', inplace=True)
    return df[df.duplicated([col], keep=False)]

# check if field exists in data frame and final_schema and if not add it
def check_field(df, fields):
    for field in fields:
        if field not in df.columns:
            df[field] = np.nan
    return df

# function to run interpolation and join by APN
def interpolate_join(df, sdf):
    # interpolate occupancy rate for VHR and TAU parcels where NULL
    return df

# function to fill missing values
def fill_missing_values(df, sdf):
    return df

# function to run zonal stats and map values
def zonal_stats_map(target, source, join_field,  map_field, target_field):
    # zonal stats
    arcpy.sa.ZonalStatisticsAsTable(target, join_field, source, 'memory\\temp', 'DATA', 'MEAN')
    # get result as a spatial dataframe
    join = pd.DataFrame.spatial.from_featureclass('memory\\temp')
    join.info()
    # map values
    target[target_field] = target[join_field].map(dict(zip(join[join_field], join[map_field])))
    return target

# save to pickle
def to_pickle(data, filename):
    with open(filename, 'wb') as f:
        pickle.dump(data, f)
    print(f'{filename} pickled')

# save to pickle and feature class
def to_pickle_fc(data, filename):
    data.spatial.to_featureclass(filename)
    with open(filename, 'wb') as f:
        pickle.dump(data, f)
    print(f'{filename} pickled and saved as feature class')

# get a pickled file as a dataframe
def from_pickle(filename):
    with open(filename, 'rb') as f:
        data = pickle.load(f)
    print(f'{filename} unpickled')
    return data

> Get Data

In [7]:
# TAZ feature layer polygons
taz_url = 'https://maps.trpa.org/server/rest/services/Transportation_Planning/MapServer/6'
# get as spatial dataframe
sdf_taz = get_fs_data_spatial(taz_url)
# set spatial reference to NAD 1983 UTM Zone 10N
sdf_taz.spatial.sr = sr

# parcel development layer polygons
units_url = 'https://maps.trpa.org/server/rest/services/Existing_Development/MapServer/2'
# query 2022 rows
sdf_units = get_fs_data_spatial_query(units_url, "Year = 2022")
sdf_units.spatial.sr = sr

# block group feature layer polygons
block_groups_url = 'https://maps.trpa.org/server/rest/services/Demographics/MapServer/27'
sdf_block = get_fs_data_spatial(block_groups_url)
sdf_block = sdf_block.loc[(sdf_block['YEAR'] == 2020) & (sdf_block['GEOGRAPHY'] == 'Block Group')]
sdf_block.spatial.sr = sr

# vhr feature layer polygons 
vhr_url = 'https://maps.trpa.org/server/rest/services/VHR/MapServer/0'
sdf_vhr = get_fs_data_spatial(vhr_url)
sdf_vhr.spatial.sr = sr
# filter vhr layer to active status
sdf_vhr = sdf_vhr.loc[sdf_vhr['Status'] == 'Active']

# ACS 2022 bolock group table
census_url = 'https://maps.trpa.org/server/rest/services/Demographics/MapServer/28'
df_census = get_fs_data(census_url)
df_census_2022 = df_census.loc[(df_census['year_sample'] == 2022) & (df_census['sample_level'] == 'block group')]

# campground points feature layer
campground_url = 'https://maps.trpa.org/server/rest/services/Recreation/MapServer/1'
sdf_campground =  get_fs_data_spatial_query(campground_url, "RECREATION_TYPE='Campground'")

# campground visits table
campvisits_url = 'https://maps.trpa.org/server/rest/services/Transportation_Planning/MapServer/14'
dfCamp = get_fs_data_query(campvisits_url, "Year = 2022")

# occupancy zone feature layer polygons
occupancyzones_url = 'https://maps.trpa.org/server/rest/services/Transportation_Planning/MapServer/15'
sdf_occ = get_fs_data_spatial(occupancyzones_url)
sdf_occ.spatial.sr = sr

# occupancy rate table
occupancyrate_url = 'https://maps.trpa.org/server/rest/services/Transportation_Planning/MapServer/13'
df_occ = get_fs_data(occupancyrate_url)

# school enrollment table - incomplete data - missing meyers elementary, bijou, sierra house, and LTCC and Sierra Nevada College
school_url_table     = 'https://maps.trpa.org/server/rest/services/Transportation_Planning/MapServer/17'
df_school_enrollment = get_fs_data_query(school_url_table, "Year = '2021-2022'")

# school feature layer points
school_url_spatial    = 'https://maps.trpa.org/server/rest/services/Transportation_Planning/MapServer/16'
sdf_school            =  get_fs_data_spatial(school_url_spatial)
sdf_school.spatial.sr = sr

## Occupancy

### Part 1

> general spatial joins and categorization

In [8]:
# spatial join to get TAZ
arcpy.SpatialJoin_analysis(sdf_units, sdf_taz, "Existing_Development_TAZ", 
                           "JOIN_ONE_TO_ONE", "KEEP_ALL", "", "HAVE_THEIR_CENTER_IN")
# spatial join to get Block Group
arcpy.SpatialJoin_analysis(sdf_units, sdf_block, "Existing_Development_BlockGroup", 
                           "JOIN_ONE_TO_ONE", "KEEP_ALL", "", "HAVE_THEIR_CENTER_IN")
# spatail join to get Occupancy Rate Zone
sdf_occ = sdf_occ.loc[sdf_occ['OccupancyRate_ZoneID'] != 'CSLT_ALL']
arcpy.SpatialJoin_analysis(sdf_units, sdf_occ, "Existing_Development_OccupancyZone", 
                           "JOIN_ONE_TO_ONE", "KEEP_ALL", "", "HAVE_THEIR_CENTER_IN")

'memory\\Existing_Development_OccupancyZone'

In [9]:
# List of Parcels APN with TAU Types
tau_lookup = pd.read_csv('Lookup_Lists/lookup_tau_type.csv')
#sro_lookup = pd.read_csv('Lookup_Lists/lookup_sro.csv')

# check if fields exist in the dataframes
sdfParcel   = check_field(sdf_units, final_schema)

# merge parcel 2022 with parcel VHR
sdfParcel = sdfParcel.merge(sdf_vhr, on='APN', how='left', indicator=True)

# calculate VHR = Yes if VHR is in the parcel
sdfParcel['VHR'] = 'No'
sdfParcel.loc[sdfParcel['_merge'] == 'both', 'VHR'] = 'Yes'

# setup TAU_Type
sdfParcel['TAU_TYPE'] = 'N/A'

# filter parcels so only APNs in the lookup are included
sdfTAU = sdfParcel[sdfParcel['APN'].isin(tau_lookup['APN'])]
# get TAU_Type from lookup
sdfTAU['TAU_TYPE'] = sdfTAU['APN'].map(tau_lookup.set_index('APN')['TAU_Type'])

# any row with ToursitAccommodation_Units > 0 and TAU_Type is null, set TAU_Type to 'HotelMotel'
sdfParcel.loc[(sdfParcel['TouristAccommodation_Units'] > 0) & (sdfParcel['TAU_TYPE']=='N/A'), 'TAU_TYPE'] = 'HotelMotel'
# for the rows in df that match rows by APN in dfTAU set TAU_Type to the value in dfTAU
sdfParcel.loc[sdfParcel['APN'].isin(sdfTAU['APN']), 'TAU_TYPE'] = sdfTAU['TAU_TYPE']

# remove _x from column names
sdfParcel.columns = sdfParcel.columns.str.replace('_x', '')

# get results of spatial joins as spatial dataframes
sdf_units_taz   = pd.DataFrame.spatial.from_featureclass("Existing_Development_TAZ", sr=sr)  
sdf_units_block = pd.DataFrame.spatial.from_featureclass("Existing_Development_BlockGroup", sr=sr)
sdf_units_occ   = pd.DataFrame.spatial.from_featureclass("Existing_Development_OccupancyZone", sr=sr)

# map dictionary to sdf_units dataframe to fill in TAZ and Block Group fields
sdfParcel['TAZ']           = sdfParcel.APN.map(dict(zip(sdf_units_taz.APN,   sdf_units_taz.TAZ)))
sdfParcel['BLOCK_GROUP']   = sdfParcel.APN.map(dict(zip(sdf_units_block.APN, sdf_units_block.TRPAID)))
sdfParcel['OCCUPANCY_ZONE']= sdfParcel.APN.map(dict(zip(sdf_units_occ.APN,   sdf_units_occ.OccupancyRate_ZoneID)))

# if df.JURISDICTION == "CSLT" and VHR == "Yes" then set OCCUPANCY_ZONE to "CSLT_ALL"
sdfParcel.loc[(sdfParcel['JURISDICTION'] == 'CSLT') & (sdfParcel['VHR'] == 'Yes'), 'OCCUPANCY_ZONE'] = 'CSLT_ALL'

# columns to keep
sdfParcel = sdfParcel[final_schema]

# export to pickle
sdfParcel.to_pickle(parcel_pickle_part1)

c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\Lib\site-packages\pandas\core\dtypes\cast.py:1066: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():
c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\Lib\site-packages\pandas\core\dtypes\cast.py:1091: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():
c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\Lib\site-packages\pandas\core\dtypes\cast.py:1066: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():
c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\Lib\site-packages\pandas\core\dtypes\cast.py:1091: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():
c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\Lib\site-packages\pandas\core\dtypes\cast.py:1066: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():
c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\Lib\site-packages\pandas\core\dtypes\cast.py:1091: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():

### Occupancy Rates Table Fix

> Fill in missing data
* Washoe Rooms Available, Washoe Reported Occupancy Rates, Washoe Quarterly VHRs added to Monthly Rows
* Rest of El Dorado County VHR zones need Rooms Available & Rooms Rented
    * Why are we using CSLT rate data instead of IDW interpolated data?
* Weight the rates and calculate rooms rented per day

In [ ]:
# make a copy of occupancy rates table and parcel layer
dfOcc     = df_occ.copy()
sdfParcel = pd.read_pickle(parcel_pickle_part1)

# filter to columns 
columns = ['Zone_ID', 'Period', 'RoomType', 'Report_OccRate','TRPA_OccRate']

# dictinary to convert the time frames to make things cleaner
timeframe_dict = {
    '2022-06-01': 'June',
    '2022-08-01': 'August',
    '2022-09-01': 'September',
    'Q4 21-22'  : 'April-June',
    'Q1 22-23'  : 'July-September',
    'Q2 2022'   : 'April-June',
    'Q3 2022'   : 'July-September'
}

# Period field based on Timeframe and timeframe_dict
dfOcc['Period'] = dfOcc['Timeframe'].map(timeframe_dict)

## Fill in Missing Data for Washoe County ##

# get total WA taus and vhrs from the parcel layer
tauWA = sdfParcel.loc[(sdfParcel.COUNTY == 'WA'), 'TouristAccommodation_Units'].sum()
vhrWA = sdfParcel.loc[(sdfParcel.COUNTY == 'WA')&(sdfParcel.VHR == 'Yes'), 'APN'].count()

# Calculate Rooms available for HotelMotel, Casino, Resort in Washoe County using total TAUs from the parcel layer
dfOcc.loc[(dfOcc['Zone_ID'] == 'Washoe County') & (dfOcc['Temporal_Scale'] == 'Monthly') &
                (dfOcc.RoomType.isin(['HotelMotel', 'Casino', 'Resort'])) & (dfOcc['Period'].isin(['June', 'September'])), 
                'Report_RoomsAvailable'] = tauWA * 30
dfOcc.loc[(dfOcc['Zone_ID'] == 'Washoe County') & (dfOcc['Temporal_Scale'] == 'Monthly') &
              (dfOcc.RoomType.isin(['HotelMotel', 'Casino', 'Resort'])) & (dfOcc['Period'].isin(['July','August'])), 
              'Report_RoomsAvailable'] = tauWA * 31

# caclulate Rooms available for VHRs in Washoe County using total VHRs from the parcel layer
dfOcc.loc[(dfOcc['Zone_ID'] == 'Washoe County') & (dfOcc['Temporal_Scale'] == 'Monthly') & 
              (dfOcc.RoomType == 'VHR') & (dfOcc['Period'].isin(['July', 'August'])), 
              'Report_RoomsAvailable'] = vhrWA * 31
dfOcc.loc[(dfOcc['Zone_ID'] == 'Washoe County') & (dfOcc['Temporal_Scale'] == 'Monthly') & 
              (dfOcc.RoomType == 'VHR') & (dfOcc['Period'].isin(['June', 'September'])), 
              'Report_RoomsAvailable'] = vhrWA * 30

# if the Zone_ID is Washoe County and VHR and Timeframe is the Q3 or Q2 then /3 to get monthly rooms available for that quarter/row
waVHRZoneQ2 = dfOcc.loc[(dfOcc['Zone_ID'] == 'Washoe County') & (dfOcc.RoomType == 'VHR') & (dfOcc.Timeframe == 'Q2 2022')]
extraVHRQ2 = int((waVHRZoneQ2['Report_RoomsRented'] / 3).round(0).iloc[0])
waVHRZoneQ3 = dfOcc.loc[(dfOcc['Zone_ID'] == 'Washoe County') & (dfOcc.RoomType == 'VHR') & (dfOcc.Timeframe == 'Q3 2022')]
extraVHRQ3 = int((waVHRZoneQ3['Report_RoomsRented'] / 3).round(0).iloc[0])

# add the extra VHR rooms rented to the monthly rows that fall within that quarter Zone_ID is Washoe County and Temporal_Scale is Monthly
dfOcc.loc[(dfOcc['Zone_ID'] == 'Washoe County') & (dfOcc['Temporal_Scale'] == 'Monthly') 
              & (dfOcc.RoomType =='VHR') & (dfOcc.Timeframe == 'June'), 
              'Report_RoomsRented'] = dfOcc['Report_RoomsRented'] + extraVHRQ2
dfOcc.loc[(dfOcc['Zone_ID'] == 'Washoe County') & (dfOcc['Temporal_Scale'] == 'Monthly')
              & (dfOcc.RoomType =='VHR') & (dfOcc.Timeframe.isin(['July', 'August'])),
              'Report_RoomsRented'] = dfOcc['Report_RoomsRented'] + extraVHRQ3

# if the Zone_ID is Washoe County set Report_OccRate to Report_RoomsRented by Report _RoomsAvailable
dfOcc.loc[dfOcc['Zone_ID'] == 'Washoe County', 'Report_OccRate'] = dfOcc['Report_RoomsRented']/dfOcc['Report_RoomsAvailable']

## Fill in Missing Data for El Dorado County ##

# get total VHRs in El Dorado County from the parcel layer
vhrEL = sdfParcel.loc[(sdfParcel.JURISDICTION == 'EL') & (sdfParcel.VHR == 'Yes'), 'APN'].count()

# caclulate Rooms available for VHRs in El Dorado County using total VHRs from the parcel layer
dfOcc.loc[(dfOcc['Zone_ID'] == 'Rest of El Dorado County') & (dfOcc['Temporal_Scale'] == 'Monthly') & 
              (dfOcc.RoomType == 'VHR') & (dfOcc['Period'].isin(['July', 'August'])), 
              'Report_RoomsAvailable'] = vhrEL * 31
dfOcc.loc[(dfOcc['Zone_ID'] == 'Rest of El Dorado County') & (dfOcc['Temporal_Scale'] == 'Monthly') &
              (dfOcc.RoomType == 'VHR') & (dfOcc['Period'].isin(['June', 'September'])),
              'Report_RoomsAvailable'] = vhrEL * 30

# calculate Rooms Rented for VHRs in El Dorado County using Report_OccRate and Report_RoomsAvailable
dfOcc.loc[(dfOcc['Zone_ID'] == 'Rest of El Dorado County') & (dfOcc['Temporal_Scale'] == 'Monthly') & (dfOcc.RoomType == 'VHR'), 
              'Report_RoomsRented'] = (dfOcc['Report_OccRate'] * dfOcc['Report_RoomsAvailable']).fillna(0).astype(int)

## Calculate Weighted Average Occupancy Rate ##

# df copy
df = dfOcc.copy()

# Define the weights for each month based on the number of days they contribute
weights = {
    'June'          : 8/20,
    'August'        : 3/20,
    'September'     : 9/20,
    'April-June'    : 8/20,
    'July-September': 12/20
}

# calculate the weighted occupancy rates
for key,value in weights.items():
    # Apply weights to the occupancy rates
    df.loc[df['Period'] == key, 'TRPA_OccRate'] = df['Report_OccRate'] * value

# Calculate RoomsRentedPerDay based on the period
df['RoomsRentedPerDay'] = df.apply(lambda row: row['Report_RoomsRented'] / 30 if row['Period'] in ['June', 'September'] else
                                   (row['Report_RoomsRented'] / 31 if row['Period'] == 'August' else
                                    (row['Report_RoomsRented'] / 91 if row['Period'] == 'April-June' else
                                     (row['Report_RoomsRented'] / 92 if row['Period'] == 'July-September' else 0))), axis=1).fillna(0).astype(int)

# filter by Temporal_Scale
df_monthly   = df.loc[df['Temporal_Scale'] == 'Monthly']
df_quarterly = df.loc[df['Temporal_Scale'] == 'Quarterly']

# group by for montthly and quarterly and mean for Report_OccRate and sum for TRPA_OccRate
dfMonthly   = df_monthly.groupby(['Zone_ID', 'RoomType', 'Temporal_Scale']).agg({'RoomsRentedPerDay': 'mean','Report_RoomsAvailable':'sum',
                                                                                 'Report_RoomsRented':'sum', 'Report_OccRate': 'mean', 
                                                                                 'TRPA_OccRate': 'sum'}).reset_index()

dfQuarterly = df_quarterly.groupby(['Zone_ID', 'RoomType', 'Temporal_Scale']).agg({'RoomsRentedPerDay': 'mean','Report_RoomsAvailable':'sum',
                                                                                   'Report_RoomsRented':'sum', 'Report_OccRate': 'mean', 
                                                                                   'TRPA_OccRate': 'sum'}).reset_index()

# concat the two dataframes into the final occupancy rate dataframe
dfOccFinal = pd.concat([dfMonthly, dfQuarterly]).reset_index(drop=True)

# cast RoomsRentedPerDay as int 
dfOccFinal['RoomsRentedPerDay'] = dfOccFinal['RoomsRentedPerDay'].astype(int)
# drop rows where Zone_ID is Washoe County and Temporal_Scale is Quarterly
df = dfOccFinal.loc[~((dfOccFinal['Zone_ID'] == 'Washoe County') & (dfOccFinal['Temporal_Scale'] == 'Quarterly'))].reset_index(drop=True)
df.info()
# save to pickle
df.to_pickle(occupancy_rates_pickle)

### Part 2

* Spatial join to apply Lodging Occupany Rates to parcel layer, 
* select parcels where Lodging Occupancy Rate is Null, 
* run interpolation, 
* apply interpoleted values to parcels where occupancy rate is null

> Filter Occupancy Rate table to Timeframe and Room Type, Merge with Occupancy Zone Feature Class, and Export to Feature Class

In [ ]:
# read in the pickled parcel dataframe
sdfParcel = pd.read_pickle(parcel_pickle_part1)
# read in the pickled occupancy rates table
dfOcc     = pd.read_pickle(occupancy_rates_pickle)

# filter occupancy rate table by RoomType
dfOccTAU = dfOcc.loc[dfOcc['RoomType'].isin(['HotelMotel', 'Casino', 'Resort'])]    
dfOccVHR = dfOcc.loc[dfOcc['RoomType'] == 'VHR']

# specify the output feature classes
tau_occ_zones = os.path.join(gdb,'OccupancyRate_Zones_TAU')
vhr_occ_zones = os.path.join(gdb,'OccupancyRate_Zones_VHR')

# merge occupancy rate data to occupancy zones
sdfOccTAU = pd.merge(sdf_occ, dfOccTAU, left_on='OccupancyRate_ZoneID', right_on='Zone_ID', how='left')
sdfOccVHR = pd.merge(sdf_occ, dfOccVHR, left_on='OccupancyRate_ZoneID', right_on='Zone_ID', how='left')

# export sdf to feature class
sdfOccTAU.spatial.to_featureclass(location=tau_occ_zones, overwrite=True)
sdfOccVHR.spatial.to_featureclass(location=vhr_occ_zones, overwrite=True)

# filter rows where VHR = Yes and rows where TouristAccommodation_Units > 0
sdfTAU = sdfParcel.loc[sdfParcel['TouristAccommodation_Units'] > 0]
sdfVHR = sdfParcel.loc[sdfParcel['VHR'] == 'Yes']
# specify the output feature classes
tau_occ_zones = os.path.join(gdb,'OccupancyRate_Zones_TAU')
vhr_occ_zones = os.path.join(gdb,'OccupancyRate_Zones_VHR')

# spatial join TAU to occupancy rate zones with TAU values
spjoin_tau = arcpy.analysis.SpatialJoin(sdfTAU, tau_occ_zones, 'OccupancyRate_Zones_TAU_Parcels', 
                                        "JOIN_ONE_TO_ONE", "KEEP_ALL", None, "INTERSECT", None, None)
# spatial join VHR to occupancy rate zones with VHR values
spjoin_vhr = arcpy.analysis.SpatialJoin(sdfVHR, vhr_occ_zones, 'OccupancyRate_Zones_VHR_Parcels', 
                                        "JOIN_ONE_TO_ONE", "KEEP_ALL", None, "INTERSECT", None, None)

# get results of spatial joins as spatial dataframes
sdf_parcel_tau_rates = pd.DataFrame.spatial.from_featureclass("OccupancyRate_Zones_TAU_Parcels", sr=sr)  
sdf_parcel_vhr_rates = pd.DataFrame.spatial.from_featureclass("OccupancyRate_Zones_VHR_Parcels", sr=sr)

# map dictionary for TAU and VHR parcels respectively
sdfParcel['VHR_Occupancy_Rate'] = sdfVHR.APN.map(dict(zip(sdf_parcel_vhr_rates.APN, sdf_parcel_vhr_rates.trpa_occ_rate)))
sdfParcel['TAU_Occupancy_Rate'] = sdfTAU.APN.map(dict(zip(sdf_parcel_tau_rates.APN, sdf_parcel_tau_rates.trpa_occ_rate)))

# cast VHR_Occupancy_Rate and TAU_Occupancy_Rate as float and fill na as 0
sdfParcel['VHR_Occupancy_Rate'] = sdfParcel['VHR_Occupancy_Rate'].fillna(0).astype(float)
sdfParcel['TAU_Occupancy_Rate'] = sdfParcel['TAU_Occupancy_Rate'].fillna(0).astype(float)

# export to pickle
sdfParcel.to_pickle(parcel_pickle_part2)

### Part 3

> Generate Spatial Interpolated Occupancy Rate Surfaces and Fill in parcel level missing occupancy rates with interpolated values

In [ ]:
# from pickle
sdfParcel = pd.read_pickle(parcel_pickle_part2)

# Set the extent environment using a feature class
arcpy.env.extent = os.path.join(gdb,"OccupancyRate_Zones_TAU")
# set the input feature class
tau_fc = os.path.join(gdb,'TAU_points')
vhr_fc = os.path.join(gdb,'VHR_points')
# set the output raster
tau_raster = os.path.join(gdb,'tau_occupancy_rate')
vhr_raster = os.path.join(gdb,'vhr_occupancy_rate')
# set the output cell size
cell_size = 30
# set the power parameter
power = 2
# set the search radius
search_radius = 10000

# select rows where TAU_TYPE is not null but TAU_Occupancy_Rate is null
tauParcel_NULL = sdfParcel.loc[(sdfParcel['TAU_TYPE'].isin(['HotelMotel','Casino','Resort'])) & 
                                  (sdfParcel['TAU_Occupancy_Rate']==0)]
vhrParcel_NULL = sdfParcel.loc[(sdfParcel['VHR'] == 'Yes') & 
                                  (sdfParcel['VHR_Occupancy_Rate']==0)] 
# get not null parcels for TAU and VHR
tauParcel_notNULL = sdfParcel.loc[(sdfParcel['TAU_TYPE'].isin(['HotelMotel','Casino','Resort'])) & 
                                  (sdfParcel['TAU_Occupancy_Rate']!=0)]
vhrParcel_notNULL = sdfParcel.loc[(sdfParcel['VHR'] == 'Yes') & 
                                  (sdfParcel['VHR_Occupancy_Rate']!=0)]
# NULL parcels
# to feature class
tauParcel_NULL.spatial.to_featureclass(location=os.path.join(gdb,"TAU_NULL_occ"), overwrite=True)
vhrParcel_NULL.spatial.to_featureclass(location=os.path.join(gdb,"VHR_NULL_occ"), overwrite=True)
# not NULL parcels
# to feature class
tauParcel_notNULL.spatial.to_featureclass(location=os.path.join(gdb,"TAU_occ"), overwrite=True)
vhrParcel_notNULL.spatial.to_featureclass(location=os.path.join(gdb,"VHR_occ"), overwrite=True)

# feature to point for TAU and VHR
arcpy.management.FeatureToPoint(tauParcel_NULL,    os.path.join(gdb,'TAU_NULL_points'),"INSIDE")
arcpy.management.FeatureToPoint(vhrParcel_NULL,    os.path.join(gdb, 'VHR_NULL_points'), "INSIDE")
arcpy.management.FeatureToPoint(tauParcel_notNULL, os.path.join(gdb,'TAU_points'), "INSIDE")
arcpy.management.FeatureToPoint(vhrParcel_notNULL, os.path.join(gdb,'VHR_points'), "INSIDE")

# run the IDW for TAU parcels with rates
arcpy.sa.Idw(tau_fc, 
            z_field='TAU_Occupancy_Rate', 
            cell_size=cell_size, 
            power=power, 
            search_radius=search_radius).save(tau_raster)
# and for VHR parcels with rates
arcpy.sa.Idw(vhr_fc,
            z_field='VHR_Occupancy_Rate',
            cell_size=cell_size,
            power=power,
            search_radius=search_radius).save(vhr_raster)

# Set the local variables for ZonalStatisticsAsTable
zoneField   = "APN"
tauZoneData = os.path.join(gdb, 'TAU_NULL_occ')
vhrZoneData = os.path.join(gdb, 'VHR_NULL_occ')
tauRaster   = os.path.join(gdb, 'tau_occupancy_rate')
vhrRaster   = os.path.join(gdb, 'vhr_occupancy_rate')
tauTable    = os.path.join(gdb, 'zonalstat_TAU_Occupancy')
vhrTable    = os.path.join(gdb, 'zonalstat_VHR_Occupancy')

# Execute ZonalStatisticsAsTable
tauZSaT = arcpy.sa.ZonalStatisticsAsTable(tauZoneData, zoneField, tauRaster, 
                                            tauTable, "DATA", "MEAN")
vhrZSaT = arcpy.sa.ZonalStatisticsAsTable(vhrZoneData, zoneField, vhrRaster,
                                            vhrTable, "DATA", "MEAN")

# convert zonal stats tables to dataframes
tauZonalStats = arcpy.da.TableToNumPyArray(tauZSaT, '*')
vhrZonalStats = arcpy.da.TableToNumPyArray(vhrZSaT, '*')
dfTAU = pd.DataFrame(tauZonalStats)
dfVHR = pd.DataFrame(vhrZonalStats)

# Create a temporary column with the new mapped values
sdfParcel['New_TAU_Occupancy_Rate'] = sdfParcel['APN'].map(dict(zip(dfTAU['apn'], dfTAU['MEAN'])))
sdfParcel['New_VHR_Occupancy_Rate'] = sdfParcel['APN'].map(dict(zip(dfVHR['apn'], dfVHR['MEAN'])))

# Combine the new column with the existing column, preserving existing values where the new values are NaN or 0
sdfParcel['TAU_Occupancy_Rate'] = sdfParcel['New_TAU_Occupancy_Rate'].combine_first(sdfParcel['TAU_Occupancy_Rate'])
sdfParcel['VHR_Occupancy_Rate'] = sdfParcel['New_VHR_Occupancy_Rate'].combine_first(sdfParcel['VHR_Occupancy_Rate'])

# Drop the temporary column
sdfParcel.drop(columns=['New_TAU_Occupancy_Rate'], inplace=True)
sdfParcel.drop(columns=['New_VHR_Occupancy_Rate'], inplace=True)

### Why isnt the zonal stats working for these parcels?? ###

# those APNs to list
tau_apn_list = sdfParcel.loc[(sdfParcel['TAU_Occupancy_Rate'] == 0) & 
                             (sdfParcel['TouristAccommodation_Units'] > 0)]['APN'].tolist()
vhr_apn_list = sdfParcel.loc[(sdfParcel['VHR_Occupancy_Rate'] == 0) & 
                             (sdfParcel['VHR'] == 'Yes')]['APN'].tolist()

# # classify the occupancy rates for those parcels
sdfParcel.loc[sdfParcel['APN'].isin(tau_apn_list), 'TAU_Occupancy_Rate'] = 0.592337
sdfParcel.loc[sdfParcel['APN'].isin(vhr_apn_list), 'VHR_Occupancy_Rate'] = 0.592337

# pickle and save to feature class
outfc = 'sdf_units_attributed_occupancy_interpolated'
# export to feature class
sdfParcel.spatial.to_featureclass(location=os.path.join(gdb, outfc), sanitize_columns=False)
# export to pickle
sdfParcel.to_pickle(parcel_pickle_part3)

In [ ]:
# create csv with APN field and List fiedl using tau_apn_list and vhr_apn_list
# dictionary of APN and "TUA" or "VHR"
apn_dict = {apn: 'TAU' for apn in tau_apn_list}
apn_dict.update({apn: 'VHR' for apn in vhr_apn_list})
# create a dataframe from the dictionary
df_apn = pd.DataFrame(list(apn_dict.items()), columns=['APN', 'List'])
# save to csv
df_apn.to_csv('missing_interpolation_zstats_apn_list.csv', index=False)

In [ ]:
df_occ

### Campgrounds

> Campground Occupancy

In [ ]:
# filter out Bayview Campground from dfCamp
dfCamp = dfCamp.loc[dfCamp['Campground'] != 'Bayview Campground']

# merge campground data with occupancy rate data on campground name
dfCampOcc = sdf_campground.merge(dfCamp, left_on='RECREATION_NAME', right_on='Campground', 
                                      how='left', indicator=True)

# spatial join TAZ data to campground data
arcpy.SpatialJoin_analysis(dfCampOcc, sdf_taz, 'taz_campground', 
                           'JOIN_ONE_TO_ONE', 'KEEP_ALL', 
                           match_option='HAVE_THEIR_CENTER_IN')

# read in output of spatial join as sdf
sdf_campground_taz = pd.DataFrame.spatial.from_featureclass('taz_campground')

# get sites sold by multiplying the number of sites by the occupancy rate
sdf_campground_taz['SitesSold'] = sdf_campground_taz['Total_Sites'] * sdf_campground_taz['Occupancy_Rate']

# group by TAZ and sum of sites sold within TAZ
sdf_campground_taz_grouped = sdf_campground_taz.groupby('TAZ').agg(
                                                {'Total_Sites': 'sum',
                                                'SitesSold': 'sum',
                                                'Occupancy_Rate': 'mean'
                                                 }).reset_index()

# sdf_campground to pickle
sdf_campground_taz_grouped.to_pickle(campground_pickle)

> Interpolation to fill nan if neccesary

In [ ]:
# merge campground data with occupancy rate data on campground name
dfCampOcc = sdf_campground.merge(dfCamp, left_on='RECREATION_NAME', right_on='Campground', 
                                      how='left', indicator=True)

# keep only columns of interest
sdf_campground = sdf_campground[['RECREATION_NAME', 'Occupancy_Rate','SHAPE']]

# filter sdf_campground to only campgrounds with occupancy rate data
sdf_campground = sdf_campground[sdf_campground['Occupancy_Rate'].notnull()]

# IDW to get the occupancy rate for each campground
# set the output cell size
cell_size = 500
# set the power parameter
power = 2
# set the search radius
search_radius = 5000
# set the output raster
out_raster = 'campground_occupancy_rate'
# run the IDW
arcpy.sa.Idw(in_features=sdf_campground, 
             z_field='Occupancy_Rate', 
             cell_size=cell_size, 
             power=power, 
             search_radius=search_radius).save(out_raster)

# spatial join to campground points with NaN occupancy rate
sdf_campground_nan = sdf_campground[sdf_campground['Occupancy_Rate'].isnull()]
# spatial join to campground points with NaN occupancy rate

## Overnight Visitation

In [ ]:
sdfParcel    = pd.read_pickle(parcel_pickle_part4)
sdfParcel
dfCampground = pd.read_pickle(campground_pickle)
sdfTAZ       = sdf_taz.copy()
overnight_fields = ['taz', 
                    'hotelmotel', # Hotel/Motel total rooms available by TAU_TYPE = hotelmotel
                    'resort',     # Resort total rooms is coming from ### We dont have occupany rates for these ###
                    'casino',     # Casino total rooms available by TAU_TYPE = casino
                    'campground', # Campground total sites avaialble
                    'percentHouseSeasonal', # Percent of houses that are seasonal ### total units- (probability unit is seasonal) / total units ###
                    # 'beach'      # NA
                    ]

df_overnight = pd.DataFrame(columns=overnight_fields)
df_overnight['taz'] = sdfTAZ['TAZ'].astype(int)

df_overnight.campground = df_overnight.taz.map(dict(zip(dfCampground['TAZ'], dfCampground['SitesSold'])))
df_overnight.hotelmotel = sdfParcel.loc[sdfParcel['TAU_TYPE'] == 'HotelMotel'].groupby('TAZ')['TouristAccommodation_Units'].sum()
df_overnight.casino     = sdfParcel.loc[sdfParcel['TAU_TYPE'] == 'Casino'].groupby('TAZ')['TouristAccommodation_Units'].sum()
df_overnight.resort     = sdfParcel.loc[sdfParcel['TAU_TYPE'] == 'Resort'].groupby('TAZ')['TouristAccommodation_Units'].sum()
# df_overnight.percentHouseSeasonal = sdfParcel.groupby('TAZ')['Seasonal'].mean()
df_overnight.fillna(0, inplace=True)
df_overnight.astype(int)
df_overnight.to_pickle(visitor_pickle)

## School Enrollment

In [ ]:
## df_school_enrollment is missing meyers elementary, bijou, sierra house, and LTCC and Sierra Nevada College
df_school_enrollment_22 = df_school_enrollment[df_school_enrollment['Year'] == '2022-2023']
# Add a row for LTCC - Lake Tahoe Community College
ltcc = {'School_Name': 'Lake Tahoe Community College', 'Level_': 'College', 'Enrollment': 2909}
df_school_enrollment_22 = pd.concat([df_school_enrollment_22, pd.DataFrame([ltcc])], ignore_index=True)
# join school spatial to school table
sdf_school_enroll = pd.merge(sdf_school, df_school_enrollment, left_on='SchoolID', how='left')

In [ ]:
# get a copy of the school data
sdf_school = sdf_school.copy()
# set Type to Null
sdf_school['TYPE'] = None
# set SchoolType to 'elementary' if it contains 'elementary' or 'magnet' or 'academy'
sdf_school.loc[sdf_school['NAME'].str.contains('elementary', case=False), 
               'TYPE'] = 'Elementary School'
# set SchoolType to 'middle' if it contains 'middle'
sdf_school.loc[sdf_school['NAME'].str.contains('middle', case=False), 
               'TYPE'] = 'Middle School'
# set SchoolType to 'high' if it contains 'high'
sdf_school.loc[sdf_school['NAME'].str.contains('high', case=False), 
               'TYPE'] = 'High School'
# set SchoolType to 'college' if it contains 'college'
sdf_school.loc[sdf_school['NAME'].str.contains('college', case=False), 
               'TYPE'] = 'College'
# set School Type to 'other' if it it does not contain any of the above
sdf_school.loc[sdf_school['TYPE'].isnull(), 
               'TYPE'] = 'Elementary School'

# spatial join TAZs to School points, gettting the TAZ for each school
sdf_school_taz = sdf_school.spatial.join(sdf_taz, how='inner')

# group by TYPE and sum of Enrollment within TAZ 
sdf_school_taz_grouped = sdf_school_taz.groupby(['TYPE', 'TAZ']).agg(
                                                {'ENROLLMENT': 'sum'}).reset_index()

# unstack by TYPE as columns and TAZ as a column
sdf_school_taz_grouped_pivot = sdf_school_taz_grouped.pivot(index='TAZ', 
                                                            columns='TYPE', 
                                                            values='ENROLLMENT').reset_index()

# merge to sdf_taz to get all tazs - the join only gets us the tazs with schools
df_school = pd.merge(sdf_taz, sdf_school_taz_grouped_pivot, how='left', on='TAZ')

# rename columns
df_school.rename(columns={'Elementary School':'elementary_school_enrollment',
                          'Middle School':'middle_school_enrollment',
                          'High School':'high_school_enrollment',
                          'College':'college_enrollment'}, inplace=True)

# group by TAZ, sum of enrollment by school type
schools_final = df_school.groupby('TAZ').agg({'elementary_school_enrollment':'sum',
                                              'middle_school_enrollment':'sum',
                                              'high_school_enrollment':'sum',
                                              'college_enrollment':'sum'}).reset_index()

# fields to integer and fill na with 0
schools_final = schools_final.fillna(0).astype(int)
# to pickle
schools_final.to_pickle(school_pickle)
# to csv
schools_final.to_csv(os.path.join(out_dir,'SchoolEnrollment.csv'), index=False)

## Socio Econ

In [10]:
# Get relevant census variables and calculate rates at block group level
# Get Occupancy Data - B25002_003E = Vacant, B25002_002E = Occupied , B25004_006E = Vacant Seasonal
occupancy_codes = ['B25002_003E','B25002_002E', 'B25004_006E']
df_census_occupancy = df_census_2022[df_census_2022['variable_code'].isin(occupancy_codes)]
df_census_occupancy = df_census_occupancy[['TRPAID', 'variable_code', 'value']]
# pivot to wide format so we can calculate percentages and totals
df_census_occupancy = df_census_occupancy.pivot(index='TRPAID', columns='variable_code', values='value').reset_index()
# vacant units + occupied units = total units
df_census_occupancy['total_units'] = df_census_occupancy['B25002_003E'] + df_census_occupancy['B25002_002E']
# occupancy rate = occupied units / total units
df_census_occupancy['occupancy_rate'] = df_census_occupancy['B25002_002E'] / df_census_occupancy['total_units']
# seasonal rate = seasonal units / total units
df_census_occupancy['seasonal_rate'] = df_census_occupancy['B25004_006E'] / df_census_occupancy['total_units']

In [11]:
# Get Household Size Data - B25010_001E = Total Households
df_census_household_size = df_census_2022[df_census_2022['variable_code'] == 'B25010_001E']
df_census_household_size = df_census_household_size[['TRPAID', 'variable_code', 'value']]
df_census_household_size = df_census_household_size.pivot(index='TRPAID', columns='variable_code', values='value').reset_index()
df_census_household_size['household_size'] = df_census_household_size['B25010_001E']

In [12]:
# List of Codes by the category they fall into - Census categroy to broader category
code_lookup = pd.read_csv('Lookup_Lists/income_census_codes.csv')
#Filter census so only variable codes in the code lookup are included
df_census_income = df_census_2022[df_census_2022['variable_code'].isin(code_lookup['variable_code'])]
#Create a new column that has a value from code lookup based on the variable code
df_census_income['income_category'] = df_census_income['variable_code'].map(code_lookup.set_index('variable_code')['category'])
#group by block group and income category and sum the values
df_census_income = df_census_income.groupby(['TRPAID','income_category'])['value'].sum().reset_index()
df_census_income = df_census_income.pivot(index='TRPAID', columns='income_category', values='value').reset_index()

In [13]:
# TRPAID is a 16 digit ID, but it is imported as a float. Convert to string and to retain leading zeros
df_census_household_size['TRPAID']= df_census_household_size['TRPAID'].astype(str).str.zfill(16)
df_census_income['TRPAID']= df_census_income['TRPAID'].astype(str).str.zfill(16)
# merge all the census data together
df_census_occupancy_all = pd.merge(df_census_occupancy, df_census_household_size, on='TRPAID', how='left')
df_census_all = pd.merge(df_census_occupancy_all, df_census_income, on='TRPAID', how='left')
# rename columns of df_census_all
column_rename = {
    'B25002_003E': 'vacant_units',
    'B25002_002E': 'occupied_units',
    'B25004_006E': 'seasonal_units',
    'High Income': 'high_income',
    'Low Income': 'low_income',
    'Medium Income': 'middle_income',
}
df_census_all.rename(columns=column_rename, inplace=True)

df_census_all.drop(columns=['B25010_001E'], inplace=True)
# calculate proportions of income categories
df_census_all['high_income_proportion'] = df_census_all['high_income'] / df_census_all['occupied_units']
df_census_all['middle_income_proportion'] = df_census_all['middle_income'] / df_census_all['occupied_units']
df_census_all['low_income_proportion'] = df_census_all['low_income'] / df_census_all['occupied_units']

In [15]:
# get pickle part 3
sdfParcel = pd.read_pickle(parcel_pickle_part3)

# map values from Census data to parcel data via left_on BLOCK_GROUP and right_on TRPAID
sdfParcel.PrimaryResidence_Rate   = sdfParcel.BLOCK_GROUP.map(df_census_all.set_index('TRPAID')['occupancy_rate'])
sdfParcel.SecondaryResidence_Rate = sdfParcel.BLOCK_GROUP.map(df_census_all.set_index('TRPAID')['seasonal_rate'])
sdfParcel.HighIncome_Rate         = sdfParcel.BLOCK_GROUP.map(df_census_all.set_index('TRPAID')['high_income_proportion'])
sdfParcel.MediumIncome_Rate       = sdfParcel.BLOCK_GROUP.map(df_census_all.set_index('TRPAID')['middle_income_proportion'])
sdfParcel.LowIncome_Rate          = sdfParcel.BLOCK_GROUP.map(df_census_all.set_index('TRPAID')['low_income_proportion'])
sdfParcel.PersonsPerUnit          = sdfParcel.BLOCK_GROUP.map(df_census_all.set_index('TRPAID')['household_size'])

# seasonal rate calculation
# group by BLOCK_GROUP
# filter sdfParcel where VHR   = 'Yes'
vhrs = sdfParcel.loc[sdfParcel['VHR']=='Yes']
totalRes = sdfParcel.groupby('BLOCK_GROUP').agg({'Residential_Units':'sum', 'PrimaryResidence_Rate':'mean', 'SecondaryResidence_Rate':'mean'}).reset_index()
totalVHR = vhrs.groupby('BLOCK_GROUP').agg({'Residential_Units':'sum'}).reset_index()
totalVHR.rename(columns={'Residential_Units':'VHR_Units'}, inplace=True)

# merge totalRes and totalVHR
totalResVHR = pd.merge(totalRes, totalVHR, on='BLOCK_GROUP', how='left')
# fill NA with 0
totalResVHR.VHR_Units = totalResVHR.VHR_Units.fillna(0)
# calculate seasonal rate
totalResVHR['non_vhr_units'] = totalResVHR['Residential_Units'] - totalResVHR['VHR_Units']
# calculate the non-adjusted number of seasonal units and then subtract the number of VHRs
totalResVHR['non_adjusted_seasonal_units'] = totalResVHR['SecondaryResidence_Rate'] * totalResVHR['Residential_Units']
totalResVHR['non_primary_residence_units'] = totalResVHR['Residential_Units']-(totalResVHR['PrimaryResidence_Rate'] * totalResVHR['Residential_Units'])
totalResVHR['adjusted_seasonal_units']     = totalResVHR['non_adjusted_seasonal_units'] - totalResVHR['VHR_Units']
# Manually adjust the seasonal units for block group 3200500170022020 because of a lag in the data
# The census reports 100% occupancy but I think it has to do with the beach club development
totalResVHR.loc[totalResVHR['BLOCK_GROUP'] == '3200500170022020', 'adjusted_seasonal_units'] = 0
# calculate the adjusted seasonal rate
totalResVHR['adjusted_seasonal_rate'] = totalResVHR['adjusted_seasonal_units'] / totalResVHR['non_primary_residence_units']

# map the adjusted seasonal rate to the parcel data
sdfParcel['SecondaryResidence_Rate'] = sdfParcel['BLOCK_GROUP'].map(totalResVHR.set_index('BLOCK_GROUP')['adjusted_seasonal_rate'])

# export to pickle part 4
sdfParcel.to_pickle(parcel_pickle_part4)
sdfParcel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61259 entries, 0 to 61258
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   APN                         61259 non-null  string
 1   Residential_Units           61185 non-null  Int32
 2   TouristAccommodation_Units  61175 non-null  Int32
 3   CommercialFloorArea_SqFt    61259 non-null  Float64
 4   RoomsRented_PerDay          0 non-null      float64
 5   VHR_Occupancy_Rate          61259 non-null  float64
 6   TAU_Occupancy_Rate          61259 non-null  float64
 7   PrimaryResidence_Rate       61087 non-null  float64
 8   SecondaryResidence_Rate     61087 non-null  Float64
 9   HighIncome_Rate             61087 non-null  float64
 10  MediumIncome_Rate           61087 non-null  float64
 11  LowIncome_Rate              61087 non-null  float64
 12  PersonsPerUnit              61087 non-null  float64
 13  TAU_TYPE                    61259 non-null  object
 14  VHR                         61259 non-null  object
 15  BLOCK_GROUP                 61134 non-null  object
 16  TAZ                         61115 non-null  object
 17  OCCUPANCY_ZONE              61059 non-null  object
 18  JURISDICTION                61259 non-null  string
 19  COUNTY                      61259 non-null  string
 20  OWNERSHIP_TYPE              61259 non-null  string
 21  EXISTING_LANDUSE            61259 non-null  string
 22  WITHIN_TRPA_BNDY            0 non-null      float64
 23  PARCEL_ACRES                61259 non-null  Float64
 24  PARCEL_SQFT                 61259 non-null  Float64
 25  SHAPE                       61259 non-null  geometry
dtypes: Float64(4), Int32(2), float64(9), geometry(1), object(5), string(5)
memory usage: 12.0+ MB

## Employment

In [ ]:
# top line employment data for NV from 2018 lives here: ????
# we got employment data from NV at the Tahoe Basin level by NAICS code....

# get the employment data
nv_employ = pd.read_csv('')

In [ ]:
# WE HAVE GOOD DATA FOR CASINO EMPLOYMENT on the South Shore ## 
# for employment data we have multiple years of CA EDD data
# california employment development department data for 2018 and 2022 was transformed to a feature class and spatial joined to TAZs and Block Group
# exported to a csv
# stacekd data by temporal scale
# grouped by TAZ and NAICS code, and summed employment
# F:\GIS\PROJECTS\ResearchAnalysis\Employment\Data\EDD_Grouped
# F:\GIS\PROJECTS\ResearchAnalysis\Employment\
# then looking at difference of total and trends over time (month-month) and year over year
#
# LODES data https://maps.trpa.org/server/rest/services/LTinfo_Climate_Resilience_Dashboard/MapServer/142

# compare 2018 to 2022 by block group 

# checking trends of each. 
#  - what is the trend of employment by NAICS code
#  - what is the trend of employment by TAZ
#  - what is the trend of employment by block group
#  - what is the trend of employment by zip code
# 
# CBP data for 2018 and 2022
# data is mostly in the service. or in Vector.sde>Census>Jobs
# look at comparisons of trends by same geography and temporal scale

# workflow is to get the data, clean it, join it to the spatial data, then group by the spatial data and sum the employment
# 
# establish trends for CA for the three datasources...compare the trends and see if they are similar
# 

### NAICS codes are one order higher in LODES data, CA EDD and CBP data have the same granularity of NAICS codes
### LODES is by year so the trend might be different if there is a sesaonal component to the data

# we'll have two of the three datasets analyzed for Nevada and all three in California.
    # where we have all three datasets we'll compare the trends and see if they are similar
    # we'll look at the trends for each dataset and see if they are similar
    # we'll look at the trends for each geography and see if they are similar
    # we'll look at the trends for each temporal scale and see if they are similar

# For Nevada we have block level data for 2018 so if consistent with 2022 we can use that as a proxy for 2022

# we subtract out any known employment from the 2018 data (e.g. Lakeside Inn) and compare the trends
# generate adjustment factors by sector and apply those adjustments to the 2018 data that was aggregated to the TAZ level.

## TAZ Summary

> Aggregations

### Get Data Again...

In [16]:
# get dataframe copies
sdfTAZ = sdf_taz.copy()
dfCamp = dfCamp.copy()
# filter out Bayview Campground from dfCamp
dfCamp = dfCamp.loc[dfCamp['Campground'] != 'Bayview Campground']
# read in the pickles 
sdfParcel    = pd.read_pickle(parcel_pickle_part4)
dfVisitor    = pd.read_pickle(visitor_pickle)
dfCampground = pd.read_pickle(campground_pickle)
dfSchool     = pd.read_pickle(school_pickle)
# sdfSocio  = pd.read_pickle(socioeconomic_pickle)
# sdfEmploy = pd.read_pickle(employment_pickle)
dfOccupancy = pd.read_pickle(occupancy_rates_pickle)

In [17]:
dfOccupancy.to_csv(os.path.join(data_dir,'occupancy_rates.csv'), index=False)

### Explore which fields we need

In [18]:
# list all csv files in the data directory
csv_files = list(out_dir.glob('*.csv'))
csv_files
# read in summary files as dataframes and get columns to lists
dfOverNight  = pd.read_csv(out_dir/'OvernightVisitorZonalData_Summer.csv')
dfEmployment = pd.read_csv(out_dir/'Employment.csv')
dfSchoolEnrl = pd.read_csv(out_dir/'SchoolEnrollment.csv')
dfSocioEcon  = pd.read_csv(out_dir/'SocioEcon_Summer.csv')
dfVisitor    = pd.read_csv(out_dir/'VisitorOccupancyRates_Summer.csv')
dfInputs     = pd.read_csv(out_dir/'inputs_summarized.csv')

# get lists of columns
overnight_fields  = dfOverNight.columns.tolist()
employment_fields = dfEmployment.columns.tolist()
school_fields     = dfSchoolEnrl.columns.tolist()
socio_fields      = dfSocioEcon.columns.tolist()
visitor_fields    = dfVisitor.columns.tolist()
inputs_fields     = dfInputs.columns.tolist()
# print the lists
overnight_fields, employment_fields, school_fields, socio_fields, visitor_fields, inputs_fields

(['taz',
  'hotelmotel',
  'resort',
  'casino',
  'campground',
  'percentHouseSeasonal'],
 ['TAZ', 'emp_other', 'emp_rec', 'emp_retail', 'emp_srvc', 'emp_gaming'],
 ['TAZ',
  'elementary_school_enrollment',
  'middle_school_enrollment',
  'high_school_enrollment',
  'college_enrollment'],
 ['taz',
  'total_residential_units',
  'census_occ_rate',
  'total_occ_units',
  'occ_units_low_inc',
  'occ_units_med_inc',
  'occ_units_high_inc',
  'persons_per_occ_unit',
  'total_persons',
  'emp_retail',
  'emp_srvc',
  'emp_rec',
  'emp_game',
  'emp_other'],
 ['taz', 'hotelmotel', 'resort', 'casino', 'campground', 'house', 'seasonal'],
 ['category',
  'RTP_20_base_year_2018',
  'RTP_17_base_year_2014',
  'RTP_24_base_year_2022'])

In [19]:
overnight_fields = ['taz', 
                    'hotelmotel', # Hotel/Motel total rooms available by TAU_TYPE = hotelmotel
                    'resort',     # Resort total rooms is coming from ### We dont have occupany rates for these ###
                    'casino',     # Casino total rooms available by TAU_TYPE = casino
                    'campground', # Campground total sites avaialble
                    'percentHouseSeasonal', # Percent of houses that are seasonal ### total units- (probability unit is seasonal) / total units ###
                    'beach'      # NA
                    ]

employment_fields = ['TAZ', 
                    'emp_other', # Other employment equals total employees in NAICS codes
                    'emp_rec',   # Recreation employment
                    'emp_retail',# Retail employment
                    'emp_srvc',  # Service employment
                    'emp_gaming' # Gaming employment
                    ]

school_fields     = ['taz',
                    'elementary_school_enrollment', # Elementary school enrollment
                    'middle_school_enrollment',     # Middle school enrollment
                    'high_school_enrollment',       # High school enrollment
                    'college_enrollment'            # College enrollment
                    ]

socio_fields      = ['taz',
                    'total_residential_units', # Total residential units in parcels
                    'census_occ_rate',         # Census occupancy rate 
                    'total_occ_units',         # Total occupied units 
                    'occ_units_low_inc',       # Low income occupied units
                    'occ_units_med_inc',       # Medium income occupied units
                    'occ_units_high_inc',      # High income occupied units
                    'persons_per_occ_unit',    # Persons per occupied unit
                    'total_persons',           # Total persons
                    'emp_retail',              # Retail employment
                    'emp_srvc',                # Service employment
                    'emp_rec',                 # Recreation employment
                    'emp_game',                # Gaming employment
                    'emp_other'                # Other employment
                    ]

visitor_fields    = ['taz', 
                    'hotelmotel',    # Hotel/Motel rooms
                    'resort',        # Resort rooms
                    'casino',        # Casino rooms
                    'campground',    # Campground sites sold?
                    'house',         # House units
                    'seasonal'       # Seasonal units
                    ]

### Input File Creation

In [20]:
# get the totals at the parcel level
sdfParcel['OccupiedUnits']   = sdfParcel.Residential_Units * sdfParcel.PrimaryResidence_Rate
sdfParcel['UnoccupiedUnits'] = sdfParcel.Residential_Units - sdfParcel.OccupiedUnits
sdfParcel['SeasonalUnits']   = sdfParcel.Residential_Units * sdfParcel.SecondaryResidence_Rate
sdfParcel['HighUnits']       = sdfParcel.OccupiedUnits * sdfParcel.HighIncome_Rate
sdfParcel['MediumUnits']     = sdfParcel.OccupiedUnits * sdfParcel.MediumIncome_Rate
sdfParcel['LowUnits']        = sdfParcel.OccupiedUnits * sdfParcel.LowIncome_Rate
sdfParcel['People']          = sdfParcel.OccupiedUnits * sdfParcel.PersonsPerUnit    

# group by TAZ and sum of units
sdfParcel_grouped = sdfParcel.groupby('TAZ').agg(
                                                {'Residential_Units':'sum', 
                                                 'OccupiedUnits':'sum', 
                                                 'SeasonalUnits':'sum', 
                                                 'HighUnits':'sum', 
                                                 'MediumUnits':'sum', 
                                                 'LowUnits':'sum',
                                                 'PersonsPerUnit':'mean',
                                                 'People':'sum',
                                                 'TAU_Occupancy_Rate': 'mean'}).reset_index()

# calculate the seasonal rate and occupied rate
sdfParcel_grouped['SeasonalRate'] = sdfParcel_grouped['SeasonalUnits'] / sdfParcel_grouped['Residential_Units']
sdfParcel_grouped['OccupiedRate'] = sdfParcel_grouped['OccupiedUnits'] / sdfParcel_grouped['Residential_Units']
# sdfParcel_grouped['UnoccupiedRate']= 1 - sdfParcel_grouped['OccupiedRate']

# # .loc for all SeasonalRate NaN and = 0
# sdfParcel_grouped_units.loc[sdfParcel_grouped_units['SeasonalRate']==np.nan, 'SeasonalRate'] = 0
# sdfParcel_grouped_units.loc[sdfParcel_grouped_units['OccupiedRate']==np.nan, 'OccupiedRate'] = 0

# cast SeasonalRate and OccupiedRate to float
sdfParcel_grouped.SeasonalRate = sdfParcel_grouped.SeasonalRate.astype(float)
sdfParcel_grouped.OccupiedRate = sdfParcel_grouped.OccupiedRate.astype(float)
# # fill NA with 0
# df1 = sdfParcel_grouped.SeasonalRate.fillna(0, inplace=True)
# df1 = sdfParcel_grouped.OccupiedRate.fillna(0, inplace=True)
sdfParcel_grouped

,TAZ,Residential_Units,OccupiedUnits,SeasonalUnits,HighUnits,MediumUnits,LowUnits,PersonsPerUnit,People,TAU_Occupancy_Rate,SeasonalRate,OccupiedRate
0,9,200,48.757396,177.505009,7.810651,0.0,40.946746,2.110000,102.878107,0.067268,0.887525,0.243787
1,10,22,10.80403,21.406706,2.462073,1.814346,6.527611,2.320714,28.883211,0.027761,0.973032,0.491092
2,11,226,55.095858,200.58066,8.826036,0.0,46.269822,2.110000,116.25226,0.011901,0.887525,0.243787
3,12,1134,652.090031,571.718523,138.388804,130.24434,383.456887,2.382725,1564.955131,0.002472,0.504161,0.575035
4,13,428,247.532058,344.535556,48.295129,45.950468,153.286461,2.661333,649.057862,0.015333,0.804990,0.578346
5,14,308,165.388961,231.548044,76.422265,4.004926,84.96177,2.615717,432.315125,0.000000,0.751779,0.536977
6,15,283,145.977848,277.787927,33.733122,25.672996,86.57173,2.700000,394.14019,0.000695,0.981583,0.515823
7,16,4,2.063291,3.926331,0.476793,0.362869,1.223629,2.700000,5.570886,0.000000,0.981583,0.515823
8,17,0,0.0,0.0,0.0,0.0,0.0,2.601667,0.0,0.000000,NaN,NaN
9,18,314,173.038849,280.03299,42.469065,65.96259,64.607194,2.750000,475.856835,0.003419,0.891825,0.551079
10,19,139,75.156741,129.456867,12.917028,21.267469,40.972244,2.235154,161.287045,0.005515,0.931344,0.540696
11,20,24,12.94198,22.484429,2.088737,3.481229,7.372014,2.070000,26.660478,0.000000,0.936851,0.539249
12,21,415,223.942186,388.2079,36.744622,61.041515,126.156049,2.088471,466.264083,0.000000,0.935441,0.539620
13,22,0,0.0,0.0,0.0,0.0,0.0,2.750000,0.0,0.000000,NaN,NaN
14,23,554,335.35019,454.006,58.617375,62.264028,214.468787,2.589713,862.086469,0.000000,0.819505,0.605325
15,24,366,220.498745,313.200902,20.168312,70.267358,130.063075,3.409692,748.567363,0.006419,0.855740,0.602456
16,25,273,122.346221,203.267257,40.782074,24.469244,57.094903,2.830000,346.239807,0.007048,0.744569,0.448155
17,26,291,182.296571,240.020011,77.102661,12.009852,93.184058,2.396256,435.257166,0.000000,0.824811,0.626449
18,27,10,5.392491,9.368512,0.870307,1.450512,3.071672,2.060000,11.108532,0.000000,0.936851,0.539249
19,28,0,0.0,0.0,0.0,0.0,0.0,2.060000,0.0,0.000000,NaN,NaN
20,29,0,0.0,0.0,0.0,0.0,0.0,2.060000,0.0,0.000000,NaN,NaN
21,30,0,0.0,0.0,0.0,0.0,0.0,2.750000,0.0,0.000000,NaN,NaN
22,31,0,0.0,0.0,0.0,0.0,0.0,2.060000,0.0,0.000000,NaN,NaN
23,32,0,0.0,0.0,0.0,0.0,0.0,2.060000,0.0,0.000000,NaN,NaN
24,33,118,65.027338,105.235327,15.959712,24.788489,24.279137,2.750000,178.82518,0.000000,0.891825,0.551079
25,34,381,215.381756,312.606491,100.400294,26.018457,88.963005,2.522954,537.741669,0.000000,0.820489,0.565306
26,35,134,60.052724,99.772207,20.017575,12.010545,28.024605,2.830000,169.949209,0.000000,0.744569,0.448155
27,36,0,0.0,0.0,0.0,0.0,0.0,2.804000,0.0,0.000000,NaN,NaN
28,37,380,242.286356,299.287213,81.426396,50.133728,110.726232,2.035625,474.338438,0.002308,0.787598,0.637596
29,38,693,387.209092,543.024528,136.997766,72.179034,178.032291,2.060828,777.739745,0.000637,0.783585,0.558743
30,39,558,273.152337,468.417363,79.289295,51.586578,142.276464,1.956903,527.382271,0.000608,0.839458,0.489520
31,40,152,99.83432,147.700033,2.398422,41.672584,55.763314,2.214831,221.632189,0.000000,0.971711,0.656805
32,41,363,238.420118,352.731001,5.727811,99.52071,133.171598,2.220000,529.292663,0.000850,0.971711,0.656805
33,42,954,580.790374,890.749001,111.875283,141.940475,326.974617,2.812194,1581.146142,0.000497,0.933699,0.608795
34,43,564,422.968158,320.243798,94.242511,56.835782,271.889865,2.118250,887.257599,0.000828,0.567808,0.749944
35,44,275,76.476945,265.514672,47.550432,9.113833,19.81268,2.376931,182.01513,0.000000,0.965508,0.278098
36,45,728,197.139262,654.138308,99.517758,40.208529,57.412975,2.274042,448.362665,0.000000,0.898542,0.270796
37,46,267,162.835805,255.501011,85.569441,27.05192,50.214444,2.203208,358.428124,0.001698,0.956933,0.609872
38,47,630,400.060917,524.719873,105.70228,91.942627,202.41601,2.432690,961.048394,0.000000,0.832889,0.635017
39,48,526,291.340517,519.275362,64.616379,98.625,128.099138,1.450000,422.44375,0.000295,0.987216,0.553879
40,49,281,187.378849,213.178773,32.414066,44.588619,110.376164,2.493144,455.139754,0.002101,0.758643,0.666829
41,50,25,19.887955,15.814579,3.781513,3.571429,12.535014,2.250920,44.747899,0.005551,0.632583,0.795518
42,51,128,71.34044,119.670877,23.429607,18.618781,29.292052,2.520725,178.088886,0.000000,0.934929,0.557347
43,52,169,104.610042,162.135598,55.070437,17.280129,32.259477,2.201800,230.242208,0.000000,0.959382,0.618994
44,53,359,99.829581,346.547691,62.037269,11.920668,25.871644,2.379705,237.564648,0.000000,0.965314,0.278077
45,54,667,331.061637,655.605901,80.90509,45.367582,204.788965,1.810425,603.062004,0.000577,0.982917,0.496344
46,55,0,0.0,0.0,0.0,0.0,0.0,2.160000,0.0,0.000000,NaN,NaN
47,56,366,322.576271,351.414387,36.186441,83.745763,202.644068,2.230000,719.345085,0.000000,0.960149,0.881356
48,57,31,27.322034,29.764607,3.064972,7.09322,17.163842,2.232500,60.928136,0.000000,0.960149,0.881356
49,58,383,318.765912,180.385464,59.046818,13.595541,246.123553,2.302783,742.569018,0.000000,0.470980,0.832287
50,59,578,445.956059,385.551784,126.568788,141.358528,178.028743,2.282111,1019.114654,0.000667,0.667045,0.771550
51,60,697,514.805471,95.856216,19.066869,177.957447,317.781155,1.740000,895.76152,0.008593,0.137527,0.738602
52,61,17,12.556231,2.337956,0.465046,4.340426,7.75076,1.740000,21.847842,0.003038,0.137527,0.738602
53,62,281,207.547112,38.645045,7.68693,71.744681,128.115502,1.740000,361.131976,0.000000,0.137527,0.738602
54,63,0,0.0,0.0,0.0,0.0,0.0,1.630526,0.0,0.000000,NaN,NaN
55,64,1,0.618902,0.8272,0.243902,0.210366,0.164634,2.075172,1.373963,0.000000,0.827200,0.618902
56,65,373,198.355039,196.540162,60.72093,27.75814,109.875969,1.520000,301.499659,0.000000,0.526917,0.531783
57,66,243,129.223256,128.04091,39.55814,18.083721,71.581395,1.520000,196.419349,0.000000,0.526917,0.531783
58,67,237,117.043033,171.828292,44.194672,28.410861,44.4375,2.990000,349.958668,0.000000,0.725014,0.493852
59,68,141,69.633197,102.226959,26.293033,16.902664,26.4375,2.990000,208.203258,0.000000,0.725014,0.493852
60,69,60,29.631148,43.500834,11.188525,7.192623,11.25,2.978375,88.597131,0.000000,0.725014,0.493852
61,70,192,94.819672,139.202667,35.803279,23.016393,36.0,2.982043,283.51082,0.000000,0.725014,0.493852
62,71,66,32.594262,47.850917,12.307377,7.911885,12.375,2.990000,97.456844,0.000000,0.725014,0.493852
63,72,0,0.0,0.0,0.0,0.0,0.0,2.220000,0.0,0.000000,NaN,NaN
64,73,0,0.0,0.0,0.0,0.0,0.0,2.220000,0.0,0.000000,NaN,NaN
65,74,0,0.0,0.0,0.0,0.0,0.0,2.220000,0.0,0.000000,NaN,NaN
66,75,947,400.738733,744.698361,235.146071,83.144991,82.447672,2.612388,1014.973988,0.000000,0.786376,0.423167
67,76,293,149.627605,194.743439,74.044111,36.855786,38.727707,2.370881,355.159019,0.000000,0.664653,0.510674
68,77,53,32.801829,43.8416,12.926829,11.14939,8.72561,2.209855,72.820061,0.000000,0.827200,0.618902
69,78,417,218.97176,275.199923,128.650502,44.382204,45.939054,2.385788,522.335955,0.000000,0.659952,0.525112
70,79,330,170.004522,224.876256,89.369885,36.598056,44.036581,2.616268,437.748262,0.000000,0.681443,0.515165
71,80,1,0.738602,0.137527,0.027356,0.255319,0.455927,2.020000,1.285167,0.000000,0.137527,0.738602
72,81,0,0.0,0.0,0.0,0.0,0.0,1.740000,0.0,0.000000,NaN,NaN
73,82,10,7.407407,7.665009,2.518519,3.506173,1.382716,2.260000,16.740741,0.000000,0.766501,0.740741
74,83,33,24.444444,25.294531,8.311111,11.57037,4.562963,2.260000,55.244444,0.000000,0.766501,0.740741
75,84,1,0.30179,0.876815,0.273657,0.012788,0.015345,2.940000,0.887263,0.000000,0.876815,0.301790
76,85,85,45.947352,71.353912,21.356559,13.731957,10.858836,2.422500,106.566191,0.000000,0.839458,0.540557
77,86,83,51.368902,68.6576,20.243902,17.460366,13.664634,2.220000,114.038963,0.000000,0.827200,0.618902
78,87,22,13.615854,18.1984,5.365854,4.628049,3.621951,2.220000,30.227195,0.000000,0.827200,0.618902
79,88,65,40.228659,53.768,15.853659,13.67378,10.70122,2.220000,89.307622,0.000000,0.827200,0.618902
80,89,13,5.569231,11.859836,2.646154,0.938462,1.984615,2.880000,16.039385,0.000000,0.912295,0.428402
81,90,18,7.711243,16.421311,3.663905,1.299408,2.747929,2.880000,22.208379,0.000000,0.912295,0.428402
82,91,258,110.527811,235.37213,52.515976,18.624852,39.386982,2.880000,318.320095,0.000000,0.912295,0.428402
83,92,463,198.350296,422.392621,94.243787,33.423669,70.68284,2.880000,571.248852,0.000000,0.912295,0.428402
84,93,6,2.570414,5.47377,1.221302,0.433136,0.915976,2.880000,7.402793,0.000000,0.912295,0.428402
85,94,23,15.408313,15.768405,7.141809,4.892421,3.374083,2.250000,34.668704,0.000000,0.685583,0.669927
86,95,799,476.340554,615.373996,235.421,108.850722,132.068832,2.368681,1114.057466,0.000000,0.770180,0.596171
87,96,25,18.656015,19.632559,7.988722,4.088346,6.578947,2.100000,39.177632,0.000000,0.785302,0.746241
88,97,544,405.954887,427.204478,173.834586,88.962406,143.157895,2.100000,852.505263,0.000000,0.785302,0.746241
89,98,0,0.0,0.0,0.0,0.0,0.0,2.100000,0.0,0.000000,NaN,NaN
90,99,4,2.015885,3.460129,0.945944,0.351467,0.718474,2.310000,4.685654,0.000000,0.865032,0.503971
91,100,518,290.265868,413.978721,129.503574,75.627993,85.134301,2.264903,653.07814,0.000000,0.799187,0.560359
92,101,0,0.0,0.0,0.0,0.0,0.0,2.160000,0.0,0.000000,NaN,NaN
93,102,107,54.132388,91.15416,21.248227,14.671395,18.212766,2.160000,116.925957,0.000000,0.851908,0.505910
94,103,31,4.04955,30.339666,0.0,4.04955,0.0,2.030000,8.220586,0.004150,0.978699,0.130631
95,104,0,0.0,0.0,0.0,0.0,0.0,2.030000,0.0,0.000000,NaN,NaN
96,105,0,0.0,0.0,0.0,0.0,0.0,2.077273,0.0,0.000000,NaN,NaN
97,106,0,0.0,0.0,0.0,0.0,0.0,2.030000,0.0,0.000000,NaN,NaN
98,107,44,1.830646,40.376954,0.0,0.653153,1.177493,1.901053,3.539588,0.000000,0.917658,0.041606
99,108,170,17.486598,163.142083,0.0,16.067568,1.41903,1.981659,35.284939,0.000000,0.959659,0.102862
100,109,27,3.527027,26.42487,0.0,3.527027,0.0,2.030000,7.159865,0.000000,0.978699,0.130631
101,110,17,2.220721,16.637881,0.0,2.220721,0.0,2.030000,4.508063,0.000000,0.978699,0.130631
102,111,41,3.74884,39.024789,0.0,3.265766,0.483074,1.955974,7.537684,0.000000,0.951824,0.091435
103,112,0,0.0,0.0,0.0,0.0,0.0,1.880000,0.0,0.000000,NaN,NaN
104,113,0,0.0,0.0,0.0,0.0,0.0,1.880000,0.0,0.000000,NaN,NaN
105,114,137,4.136322,124.647023,0.0,0.0,4.136322,1.880000,7.776285,0.000000,0.909832,0.030192
106,115,42,1.26807,38.212956,0.0,0.0,1.26807,1.880000,2.383971,0.000000,0.909832,0.030192
107,116,0,0.0,0.0,0.0,0.0,0.0,1.880000,0.0,0.000000,NaN,NaN
108,117,22,0.664227,20.01631,0.0,0.0,0.664227,1.880000,1.248747,0.000000,0.909832,0.030192
109,118,1,0.030192,0.909832,0.0,0.0,0.030192,1.880000,0.056761,0.000000,0.909832,0.030192
110,119,0,0.0,0.0,0.0,0.0,0.0,1.880000,0.0,0.000000,NaN,NaN
111,120,16,0.483074,14.557317,0.0,0.0,0.483074,1.880000,0.908179,0.000000,0.909832,0.030192
112,121,14,0.42269,12.737652,0.0,0.0,0.42269,1.880000,0.794657,0.000000,0.909832,0.030192
113,122,305,9.2086,277.498847,0.0,0.0,9.2086,1.880000,17.312168,0.000000,0.909832,0.030192
114,123,0,0.0,0.0,0.0,0.0,0.0,1.880000,0.0,0.000000,NaN,NaN
115,124,282,8.514181,256.572704,0.0,0.0,8.514181,1.880000,16.006661,0.000000,0.909832,0.030192
116,125,69,2.083257,62.778428,0.0,0.0,2.083257,1.880000,3.916523,0.003794,0.909832,0.030192
117,126,0,0.0,0.0,0.0,0.0,0.0,1.880000,0.0,0.000000,NaN,NaN
118,127,0,0.0,0.0,0.0,0.0,0.0,1.956000,0.0,0.000000,NaN,NaN
119,128,3,0.853736,2.612822,0.295707,0.126391,0.431638,2.180833,1.929444,0.000000,0.870941,0.284579
120,129,129,36.710652,112.351355,12.715421,5.434817,18.560413,2.260000,82.966073,0.000000,0.870941,0.284579
121,130,989,281.448331,861.360387,97.484897,41.666932,142.296502,2.260000,636.073227,0.000000,0.870941,0.284579
122,131,94,26.467216,81.79097,9.163688,3.947488,13.356041,2.256182,59.775872,0.010194,0.870117,0.281566
123,132,201,26.256757,196.71848,0.0,26.256757,0.0,2.030000,53.301216,0.000000,0.978699,0.130631
124,133,63,9.008249,52.429306,3.00275,2.252062,3.753437,2.120000,19.097489,0.024369,0.832211,0.142988
125,134,560,80.073327,466.038278,26.691109,20.018332,33.363886,2.120000,169.755454,0.000000,0.832211,0.142988
126,135,47,6.72044,39.113927,2.240147,1.68011,2.800183,2.120000,14.247333,0.000000,0.832211,0.142988
127,136,188,26.88176,156.455707,8.960587,6.72044,11.200733,2.120000,56.989331,0.000000,0.832211,0.142988
128,137,114,16.300642,94.872078,5.433547,4.07516,6.791934,2.120000,34.55736,0.000000,0.832211,0.142988
129,138,0,0.0,0.0,0.0,0.0,0.0,2.120000,0.0,0.000000,NaN,NaN
130,139,98,15.296167,80.954956,6.269339,3.716222,5.310607,2.146769,33.339107,0.016364,0.826071,0.156083
131,140,5,0.71494,4.161056,0.238313,0.178735,0.297892,2.189048,1.515674,0.000000,0.832211,0.142988
132,141,336,81.21327,264.070227,57.327014,17.516588,6.369668,2.410000,195.723981,0.001127,0.785923,0.241706
133,142,91,21.921696,71.553502,15.499993,4.706692,1.715011,2.408027,52.782527,0.000000,0.786302,0.240898
134,143,117,19.746131,95.952906,16.937578,1.763047,1.045506,2.128969,41.931892,0.000000,0.820110,0.168770
135,144,197,33.123894,161.61979,28.474926,2.905605,1.743363,2.120000,70.222655,0.000000,0.820405,0.168142
136,145,0,0.0,0.0,0.0,0.0,0.0,2.354500,0.0,0.000000,NaN,NaN
137,146,0,0.0,0.0,0.0,0.0,0.0,2.120000,0.0,0.000000,NaN,NaN
138,147,97,16.309735,79.579287,14.020649,1.430678,0.858407,2.120000,34.576637,0.000000,0.820405,0.168142
139,148,357,100.317,247.192981,44.268,32.13,23.919,2.788660,279.88443,0.000000,0.692417,0.281000
140,149,619,173.600425,428.990281,76.817628,55.484248,41.298549,2.788119,484.007221,0.002061,0.693038,0.280453
141,150,0,0.0,0.0,0.0,0.0,0.0,2.790000,0.0,0.000000,NaN,NaN
142,151,310,87.129923,190.403107,48.357758,11.35044,27.421725,1.996658,175.444587,0.000000,0.614204,0.281064
143,152,78,25.896,43.779545,11.856,2.6,11.44,2.160000,55.93536,0.007008,0.561276,0.332000
144,153,212,64.453333,125.123672,32.700952,7.428571,24.32381,2.035281,134.345867,0.000000,0.590206,0.304025
145,154,272,59.282051,184.748029,43.838828,10.959707,4.483516,1.730000,102.557949,0.000000,0.679221,0.217949
146,155,32,7.08841,21.617118,5.148337,1.282418,0.657656,1.829231,12.40571,0.009501,0.675535,0.221513
147,156,5,1.089744,3.396103,0.805861,0.201465,0.082418,1.730000,1.885256,0.000000,0.679221,0.217949
148,157,33,9.473333,20.055393,5.135238,1.190476,3.147619,1.808356,19.244067,0.009881,0.607739,0.287071
149,158,1,0.332,0.561276,0.152,0.033333,0.146667,2.160000,0.71712,0.000000,0.561276,0.332000
150,159,1,0.332,0.561276,0.152,0.033333,0.146667,2.052500,0.71712,0.185269,0.561276,0.332000
151,160,238,78.330528,137.735933,35.775409,8.450205,34.104914,2.241212,175.043302,0.000000,0.578722,0.329120
152,161,7,2.324,3.928934,1.064,0.233333,1.026667,2.159070,5.01984,0.000000,0.561276,0.332000
153,162,12,3.641846,7.089148,1.851516,0.420879,1.369451,2.100278,7.585234,0.000000,0.590762,0.303487
154,164,61,20.797891,40.431704,11.792619,1.822496,7.182777,2.920000,60.729842,0.000000,0.662815,0.340949
155,165,0,0.0,0.0,0.0,0.0,0.0,2.920000,0.0,0.000000,NaN,NaN
156,166,682,206.665709,466.508207,93.658839,34.055485,78.951385,2.646464,554.875677,0.000000,0.684030,0.303029
157,167,671,136.911111,470.882564,53.544444,49.477778,33.888889,2.100000,287.513333,0.000000,0.701762,0.204040
158,168,172,37.521499,120.196537,15.525837,12.437426,9.558236,2.158272,82.135907,0.000000,0.698817,0.218148
159,169,24,6.104127,17.383226,0.845772,2.07444,3.183915,2.214375,13.109944,0.000000,0.724301,0.254339
160,170,41,10.289883,29.784052,1.196498,3.589494,5.503891,2.120000,21.814553,0.000000,0.726440,0.250973
161,171,200,50.194553,145.288057,5.836576,17.509728,26.848249,2.120000,106.412451,0.000000,0.726440,0.250973
162,172,0,0.0,0.0,0.0,0.0,0.0,2.120000,0.0,0.000000,NaN,NaN
163,173,109,27.356031,79.181991,3.180934,9.542802,14.632296,2.120229,57.994786,0.003210,0.726440,0.250973
164,174,973,322.796209,656.87183,169.852291,59.179305,93.764613,2.630000,848.954028,0.000000,0.675100,0.331754
165,175,27,6.246565,17.469885,3.264423,1.881819,1.100324,2.225745,12.185343,0.000000,0.647033,0.231354
166,176,90,25.41214,59.516161,13.334791,5.866941,6.210408,2.313894,59.875204,0.007781,0.661291,0.282357
167,177,37,8.262926,23.857135,4.314631,2.605061,1.343234,1.870000,15.451672,0.000000,0.644787,0.223322
168,178,559,124.837184,360.436175,65.185919,39.357536,20.293729,1.870701,233.445534,0.000000,0.644787,0.223322
169,179,193,47.763753,125.747394,24.998068,13.17638,9.589304,2.133915,100.159924,0.000000,0.651541,0.247481
170,180,123,35.376831,81.794617,11.300932,14.904128,9.171771,2.320000,82.074248,0.000000,0.664997,0.287617
171,181,533,157.199325,348.392133,43.33642,58.017467,55.845438,2.287939,360.602885,0.017450,0.653644,0.294933
172,182,259,79.001733,165.237486,17.281629,23.790295,37.929809,2.260000,178.543917,0.003220,0.637983,0.305026
173,183,200,61.005199,127.596514,13.344887,18.370884,29.289428,2.260000,137.87175,0.000000,0.637983,0.305026
174,184,125,36.596215,82.125081,10.554024,14.061729,11.980462,2.300769,84.226061,0.000000,0.657001,0.292770
175,185,0,0.0,0.0,0.0,0.0,0.0,2.320000,0.0,0.000000,NaN,NaN
176,186,230,66.151798,152.949283,21.131824,27.869507,17.150466,2.320000,153.47217,0.000000,0.664997,0.287617
177,187,0,0.0,0.0,0.0,0.0,0.0,2.260000,0.0,0.000000,NaN,NaN
178,188,440,138.03098,279.109629,30.71797,39.830103,67.482907,2.273080,313.71295,0.000000,0.634340,0.313707
179,189,120,65.169176,93.188212,0.200173,0.275563,64.69344,2.328478,151.780125,0.028471,0.776568,0.543076
180,190,1331,766.974362,778.618625,140.714742,99.277411,526.98221,2.482260,1902.070845,0.004096,0.584988,0.576239
181,191,207,115.850053,109.945109,32.569166,10.92925,72.351637,2.469453,286.14963,0.000000,0.531136,0.559662
182,192,184,102.977825,97.728985,28.95037,9.714889,64.312566,2.464724,254.355227,0.000000,0.531136,0.559662
183,200,0,0.0,0.0,0.0,0.0,0.0,2.320000,0.0,0.260159,NaN,NaN
184,201,0,0.0,0.0,0.0,0.0,0.0,2.320000,0.0,0.156095,NaN,NaN
185,202,0,0.0,0.0,0.0,0.0,0.0,1.980000,0.0,0.222994,NaN,NaN
186,203,5,3.690987,1.872674,1.080114,0.529328,2.081545,1.980000,7.308155,0.000000,0.374535,0.738197
187,204,0,0.0,0.0,0.0,0.0,0.0,1.980000,0.0,0.086720,NaN,NaN
188,205,0,0.0,0.0,0.0,0.0,0.0,2.043000,0.0,0.000000,NaN,NaN
189,206,256,231.428571,0.0,6.857143,42.285714,182.285714,2.326304,536.914286,0.008483,0.000000,0.904018
190,207,0,0.0,0.0,0.0,0.0,0.0,1.980000,0.0,0.000000,NaN,NaN
191,208,29,21.407725,10.861511,6.264664,3.0701,12.072961,1.972093,42.387296,0.000000,0.374535,0.738197
192,209,78,33.675987,32.846133,16.036184,1.026316,16.613487,1.649347,55.228618,0.010728,0.421104,0.431743
193,210,63,27.199836,26.529569,12.952303,0.828947,13.418586,1.640000,44.60773,0.003552,0.421104,0.431743
194,211,295,132.880481,123.38751,60.837425,5.550316,66.49274,1.667630,222.441758,0.001762,0.418263,0.450442
195,212,216,159.450644,80.899527,46.660944,22.866953,89.922747,1.980000,315.712275,0.000000,0.374535,0.738197
196,213,517,381.648069,193.634517,111.683834,54.732475,215.23176,1.980000,755.663176,0.000000,0.374535,0.738197
197,214,4,2.95279,1.498139,0.864092,0.423462,1.665236,2.266364,5.846524,0.000000,0.374535,0.738197
198,215,71,38.621587,28.687598,14.86824,3.344609,20.408738,1.740612,69.865068,0.000000,0.404051,0.543966
199,216,245,105.777138,103.170546,50.370066,3.223684,52.183388,1.640000,173.474507,0.000000,0.421104,0.431743
200,217,156,141.026786,0.0,4.178571,25.767857,111.080357,2.364051,327.182143,0.000000,0.000000,0.904018
201,218,1,0.474172,0.689899,0.311258,0.027815,0.135099,2.610000,1.237589,0.000000,0.689899,0.474172
202,219,192,91.04106,132.46066,59.761589,5.340397,25.939073,2.610000,237.617166,0.003423,0.689899,0.474172
203,220,138,70.725187,82.425846,36.987187,14.304512,19.433488,1.861844,131.229682,0.000000,0.597289,0.512501
204,221,373,176.866225,257.332429,116.099338,10.374834,50.392053,2.610000,461.620848,0.000000,0.689899,0.474172
205,222,47,22.286093,32.425266,14.629139,1.307285,6.349669,2.610000,58.166702,0.000000,0.689899,0.474172
206,223,282,133.990823,193.888915,87.465463,8.386395,38.138965,2.587151,346.949074,0.000000,0.687549,0.475145

In [ ]:
# percent House Seasonal 
# What is this?
# total residential units - total occupied units / total residential units
# total VHRs

# vacant seasonal B25002_006
# vacant total    B25002_003

# filter out VHR = 'Yes'
 
sdfParcel_NoVHR = sdfParcel.loc[sdfParcel['VHR'] == 'No']
sdfParcel_NoVHR['OccupiedUnits'] = sdfParcel_NoVHR.Residential_Units * sdfParcel_NoVHR.PrimaryResidence_Rate
sdfParcel_NoVHR['SeasonalUnits'] =sdfParcel_NoVHR['Residential_Units'] * sdfParcel_NoVHR['SecondaryResidence_Rate']
# get percent house seasonal
sdfParcel_NoVHR['PercentHouseSeasonal'] = sdfParcel_NoVHR['SeasonalUnits'] / (sdfParcel_NoVHR['Residential_Units']-sdfParcel_NoVHR['OccupiedUnits'])

# filter out NA and 0 from PercentHouseSeasonal
sdfParcel_NoVHR['PercentHouseSeasonal'] = sdfParcel_NoVHR['PercentHouseSeasonal'].astype(float)
sdfParcel_NoVHR['PercentHouseSeasonal'] = sdfParcel_NoVHR['PercentHouseSeasonal'].fillna(0)

sdfParcel_NoVHR.loc[sdfParcel_NoVHR['PercentHouseSeasonal'] < 0, 'PercentHouseSeasonal'] = 0

# group by TAZ and get mean of PercentHouseSeasonal
sdfParcel_grouped_percent = sdfParcel_NoVHR.groupby('TAZ').agg(
                                                {'PercentHouseSeasonal':'mean'}).reset_index()
# fill NA with 0
sdfParcel_grouped_percent['PercentHouseSeasonal'] = sdfParcel_grouped_percent['PercentHouseSeasonal'].astype(float)
sdfParcel_grouped_percent['PercentHouseSeasonal'] = sdfParcel_grouped_percent['PercentHouseSeasonal'].fillna(0)

sdfParcel_grouped_percent.mean()

> Generate 'OvernightVisitorZonalData_Summer.csv'

In [21]:
# create the overnight visitor dataframe, pickle and csv
overnight_fields = ['taz', 
                    'hotelmotel', # Hotel/Motel total rooms available by TAU_TYPE = hotelmotel
                    'resort',     # Resort total rooms is coming from ### We dont have occupany rates for these ###
                    'casino',     # Casino total rooms available by TAU_TYPE = casino
                    'campground', # Campground total sites avaialble
                    'percentHouseSeasonal', # Percent of houses that are seasonal ### total units- (probability unit is seasonal) / total units ###
                    # 'beach'      # NA
                    ]

df_overnight = pd.DataFrame(columns=overnight_fields)
df_overnight['taz'] = sdfTAZ['TAZ'].astype(int)

df_overnight.campground           = df_overnight.taz.map(dict(zip(dfCampground['TAZ'], dfCampground['Total_Sites'])))
df_overnight.hotelmotel           = sdfParcel.loc[sdfParcel['TAU_TYPE'] == 'HotelMotel'].groupby('TAZ')['TouristAccommodation_Units'].sum()
df_overnight.casino               = sdfParcel.loc[sdfParcel['TAU_TYPE'] == 'Casino'].groupby('TAZ')['TouristAccommodation_Units'].sum()
df_overnight.resort               = sdfParcel.loc[sdfParcel['TAU_TYPE'] == 'Resort'].groupby('TAZ')['TouristAccommodation_Units'].sum()
df_overnight.percentHouseSeasonal = df_overnight.taz.map(dict(zip(sdfParcel_grouped['TAZ'], sdfParcel_grouped['SeasonalRate'])))

# fill NA with 0
df_overnight.fillna(0, inplace=True)
df_overnight.astype(int)
df_overnight.to_pickle(visitor_pickle)
df_overnight.to_csv(os.path.join(out_dir,'OvernightVisitorZonalData_Summer.csv'), index=False)

> Generate 'SocioEcon_Summer.csv'

In [22]:
# create the socio-economic dataframe, pickle and csv
socio_fields      = ['taz',
                    'total_residential_units', # Total residential units in parcels
                    'census_occ_rate',         # Census occupancy rate 
                    'total_occ_units',         # Total occupied units 
                    'occ_units_low_inc',       # Low income occupied units
                    'occ_units_med_inc',       # Medium income occupied units
                    'occ_units_high_inc',      # High income occupied units
                    'persons_per_occ_unit',    # Persons per occupied unit
                    'total_persons',           # Total persons
                    'emp_retail',              # Retail employment
                    'emp_srvc',                # Service employment
                    'emp_rec',                 # Recreation employment
                    'emp_game',                # Gaming employment
                    'emp_other'                # Other employment
                    ]

df_socio = pd.DataFrame(columns=socio_fields)
df_socio['taz'] = sdfTAZ['TAZ'].astype(int)
df_socio.total_residential_units = df_socio.taz.map(dict(zip(sdfParcel_grouped['TAZ'], sdfParcel_grouped['Residential_Units'])))
df_socio.census_occ_rate         = df_socio.taz.map(dict(zip(sdfParcel_grouped['TAZ'], sdfParcel_grouped['OccupiedRate'])))
df_socio.total_occ_units         = df_socio.taz.map(dict(zip(sdfParcel_grouped['TAZ'], sdfParcel_grouped['OccupiedUnits'])))
df_socio.occ_units_low_inc       = df_socio.taz.map(dict(zip(sdfParcel_grouped['TAZ'], sdfParcel_grouped['LowUnits'])))
df_socio.occ_units_med_inc       = df_socio.taz.map(dict(zip(sdfParcel_grouped['TAZ'], sdfParcel_grouped['MediumUnits'])))
df_socio.occ_units_high_inc      = df_socio.taz.map(dict(zip(sdfParcel_grouped['TAZ'], sdfParcel_grouped['HighUnits'])))
df_socio.persons_per_occ_unit    = df_socio.taz.map(dict(zip(sdfParcel_grouped['TAZ'], sdfParcel_grouped['PersonsPerUnit'])))
df_socio.total_persons           = df_socio.taz.map(dict(zip(sdfParcel_grouped['TAZ'], sdfParcel_grouped['People'])))

# df_socio.emp_retail              = df_socio.taz.map(dict(zip(dfEmployment['TAZ'], dfEmployment['emp_retail'])))
# df_socio.emp_srvc                = df_socio.taz.map(dict(zip(dfEmployment['TAZ'], dfEmployment['emp_srvc'])))
# df_socio.emp_rec                 = df_socio.taz.map(dict(zip(dfEmployment['TAZ'], dfEmployment['emp_rec'])))
# df_socio.emp_game                = df_socio.taz.map(dict(zip(dfEmployment['TAZ'], dfEmployment['emp_game'])))
# df_socio.emp_other               = df_socio.taz.map(dict(zip(dfEmployment['TAZ'], dfEmployment['emp_other'])))

df_socio.fillna(0, inplace=True)
df_socio.to_pickle(visitor_pickle)
df_socio.to_csv(os.path.join(out_dir,'SocioEcon_Summer.csv'), index=False)

> Generate 'Employment.csv'

In [23]:
# create the employment dataframe, pickle and csv
employment_fields = ['TAZ', 
                    'emp_other', # Other employment equals total employees in NAICS codes
                    'emp_rec',   # Recreation employment
                    'emp_retail',# Retail employment
                    'emp_srvc',  # Service employment
                    'emp_gaming' # Gaming employment
                    ]
# create the employment dataframe
df_employ = pd.DataFrame(columns=employment_fields)
# set the field values
df_employ['taz'] = sdfTAZ['TAZ'].astype(int)
df_employ.emp_other = df_employ.taz.map(dict(zip(dfEmployment['TAZ'], dfEmployment['emp_other'])))
df_employ.emp_rec   = df_employ.taz.map(dict(zip(dfEmployment['TAZ'], dfEmployment['emp_rec'])))
df_employ.emp_retail= df_employ.taz.map(dict(zip(dfEmployment['TAZ'], dfEmployment['emp_retail'])))
df_employ.emp_srvc  = df_employ.taz.map(dict(zip(dfEmployment['TAZ'], dfEmployment['emp_srvc'])))
df_employ.emp_gaming= df_employ.taz.map(dict(zip(dfEmployment['TAZ'], dfEmployment['emp_gaming'])))
# fill NA with 0
df_employ.fillna(0, inplace=True)
# save to pickle and csv
df_employ.to_pickle(employment_pickle)
df_employ.to_csv(os.path.join(out_dir,'Employment.csv'), index=False)

> Generate 'VisitorOccupancyRates_Summer.csv'

In [24]:
# create the visitor dataframe, pickle and csv
visitor_occupany_fields  = ['taz', 
                            'hotelmotel',    # Hotel/Motel rooms
                            'resort',        # Resort rooms
                            'casino',        # Casino rooms
                            'campground',    # Campground sites sold?
                            'house',         # House units
                            'seasonal'       # Seasonal units
                            ]
# create the visitor dataframe
df_visitor_occ = pd.DataFrame(columns=visitor_occupany_fields)
# set the field values
df_visitor_occ['taz']     = sdfTAZ['TAZ'].astype(int)
df_visitor_occ.hotelmotel = sdfParcel.loc[sdfParcel['TAU_TYPE'] == 'HotelMotel'].groupby('TAZ')['TAU_Occupancy_Rate'].mean()
df_visitor_occ.resort     = sdfParcel.loc[sdfParcel['TAU_TYPE'] == 'Resort'].groupby('TAZ')['TAU_Occupancy_Rate'].mean()
df_visitor_occ.casino     = sdfParcel.loc[sdfParcel['TAU_TYPE'] == 'Casino'].groupby('TAZ')['TAU_Occupancy_Rate'].mean()
df_visitor_occ.campground = df_visitor_occ.taz.map(dict(zip(dfCampground['TAZ'], dfCampground['Total_Sites'])))   
df_visitor_occ.house      = df_visitor_occ.taz.map(dict(zip(sdfParcel_grouped['TAZ'], sdfParcel_grouped['OccupiedRate'])))
df_visitor_occ.seasonal   = df_visitor_occ.taz.map(dict(zip(sdfParcel_grouped['TAZ'], sdfParcel_grouped['SeasonalRate'])))
# fill NA with 0
df_visitor_occ.fillna(0, inplace=True)
# save to pickle and csv
df_visitor_occ.to_pickle(visitor_pickle)
df_visitor_occ.to_csv(os.path.join(out_dir,'VisitorOccupancyRates_Summer.csv'), index=False)

#### Basin Summary
> update and compare to 'RTP_20_base_year_2018', 'RTP_17_base_year_2014' in TravelDemandModel\2022\data\processed_data\inputs_summarized.csv

In [25]:
# set the field values
value_dict = {
'lodging occupancy rate'   :(sdfParcel.loc[sdfParcel['TAU_TYPE'].isin(['HotelMotel','Resort','Casino'])]['TAU_Occupancy_Rate'].mean()),
'campground occupancy rate':dfCamp['Occupancy_Rate'].mean(),
'house(VHR) rate'          :(sdfParcel_grouped['SeasonalUnits'].sum() / sdfParcel_grouped['Residential_Units'].sum()).mean(),
'seasonal rate'            :(sdfParcel_grouped['SeasonalUnits'].sum() / sdfParcel_grouped['Residential_Units'].sum()).mean(),
'lodging unit'             :sdfParcel.TouristAccommodation_Units.sum(),
'campground'               :dfCampground.Total_Sites.sum(),
'percentHouseSeasonal'     :(sdfParcel_grouped['SeasonalUnits'].sum() / sdfParcel_grouped['Residential_Units'].sum()).mean(),
'school enrollment'        :(dfSchool['elementary_school_enrollment'] + dfSchool['middle_school_enrollment'] + dfSchool['high_school_enrollment'] + dfSchool['college_enrollment']).sum(),
'employment'               :0, # need to get this data
'residential unit'         :sdfParcel.Residential_Units.sum(),
'total persons'            :sdfParcel_grouped['People'].sum(),
'census occupancy rate'    :(sdfParcel_grouped['OccupiedUnits'].sum() / sdfParcel_grouped['Residential_Units'].sum()).mean(),
'low income res unit'      :sdfParcel_grouped['LowUnits'].sum(),
'medium income res unit'   :sdfParcel_grouped['MediumUnits'].sum(),
'high income res unit'     :sdfParcel_grouped['HighUnits'].sum(),
'total occupied unit'      :sdfParcel_grouped['OccupiedUnits'].sum(),
'persons per occupied unit':(sdfParcel_grouped['People'].sum() / sdfParcel_grouped['OccupiedUnits'].sum()).mean(),
}

# get inputs_summarized.csv as a dataframe
dfInputs = pd.read_csv(os.path.join(out_dir,'inputs_summarized copy.csv'))
# add column to the dataframe 'RTP_24_base_year_2022'
dfInputs['RTP_24_base_year_2022'] = 0
# use dictionary to map values to dfInputs['RTP_24_base_year_2022']
dfInputs['RTP_24_base_year_2022'] = dfInputs['category'].map(value_dict)
# round all values to 2 decimal places
dfInputs = dfInputs.round(2)
# drop column 'Unnamed: 0'
dfInputs.drop(columns=['Unnamed: 0'], inplace=True)
# save to csv
dfInputs.to_csv(os.path.join(out_dir,'inputs_summarized.csv'), index=False)
# save to pickle
dfInputs.to_pickle(summary_pickle)
dfInputs

,category,RTP_20_base_year_2018,RTP_17_base_year_2014,RTP_24_base_year_2022
0,lodging occupancy rate,0.61,0.64,0.48
1,campground occupancy rate,NaN,0.78,0.59
2,house(VHR) rate,0.38,0.44,0.71
3,seasonal rate,0.38,0.44,0.71
4,lodging unit,11107.00,10575.00,11610.00
5,campground,2104.00,2465.00,1964.00
6,percentHouseSeasonal,0.71,0.79,0.71
7,school enrollment,8667.00,9652.00,9089.00
8,employment,28053.50,26367.00,0.00
9,residential unit,47645.00,47540.00,48799.00
10,total persons,50773.00,56241.00,52570.38
11,census occupancy rate,0.45,0.48,0.47
12,low income res unit,6076.00,7418.00,9810.10
13,medium income res unit,9059.00,10218.00,4736.14
14,high income res unit,6115.00,5350.00,8505.40
15,total occupied unit,21260.00,22993.00,23051.63
16,persons per occupied unit,2.30,2.35,2.28

## Forecasts

In [ ]:
# total_residential_units - base_2018 
# forecast will be for 2040 and 2050 
# rate of development will be based on the current rate of development from the last 12 years (back to 2012)
    # current rate will not get us to full build out and will be adjusted to get to full build out by 2050
# total_residential_units = base_2018 + (rate_of_development * (2040 - 2018))

# forecast max build out will be 2050
#  still going to build out all the residential units and then revisit how conversions of TAUs and CFA will be handled

# GIS exercise of where the new residential units will be built
# 1. get the land use data and see if we can get the residential units on vacant and underbuilt parcels

# For TAUs and CFA we only built out what was in the pipeline

# Total Occupied Units = Total Residential Units - Vacant Units
    # based on block group rate and TAZ crosswalk assigned to Parcel level units
# Occupied Units by Income Level = Total Occupied Units * % of Income Level in Block Group
    # based on block group rate and TAZ crosswalk assigned to Parcel level units

# Lodging Occupany Rates by Tax Rate Zone
    # Air DNA? for VHR occupancy rates
    # Seasonal Units will be based on the % of seasonal units in the block group?

# Adjusted occupancy rates for Residential units to be based on population change to decennial census
    # double check total persons in the model against the decennial census population and then apply the rate?

# use adjusted ACS numbers to make all the input factors match the same source
    # use the 2022 ACS data at the Basin level for all the input factors
        # Block Group level data will be to noisy and not as accurate as the Basin level data

# forecast growth at the Basin level and show some population growth...
    # out year will be 2050 and show the growth in the model at 0.5% per year
    # show the growth in the model at 1.0% per year? or use the decennial census growth rate?
        # which was 0.04% per year from 2010 to 2020 annualized

# show the growth in the model at 0.004% per year? or use the decennial census growth rate?
    # adding 3000 units of affordable housing in the model and get 6,000 person increase in population

#